@charset "UTF-8";
/*!
 * =====================================================
 * Created by Toma on 2016-9-15 11:34:00
 * @version 0.1.0 支招客
 * =====================================================
 */
@import "sm.min";
@import "sm-extend.min";
@import "iconfont";
@import "toma";

// 问题列表
.cc-card{
  position: relative;
  padding: 10px;
  background: #fff;
  font-size: 15px;
  margin-bottom: 10px;
  &.next-ans{
    @extend %border-bottom;
    margin-bottom: 0;
    & + .cc-card{
      background-color: #f8f8fb;
    }
  }
}

.cc-card-hd{
  margin-bottom: 10px;
  line-height: 37px;

  time{
    float: right;
    color: #b4b4b4;
  }
  span i{
    margin-right: 5px;
  }
  .cc-card-row{
    float: right;
    color: #ff8116;
    margin-right: 3px;
    &.min{
      font-size: 12px;
    }
  }
}
.cc-card-con{
  margin-bottom: 5px;
  p{
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    min-height: 38px;
    margin: 0 0 10px 0;
  }
}
.cc-lockin{
  position: relative;
  height: 90px;
  overflow: hidden;
  text-align: center;
  span{
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 52px;
    border: 2px solid #ff8116;
    border-radius: 200px;
    font-size: 24px;
    color: #ff8116;
  }
}
.cc-card-imglist{
  width: 100%;
  font-size: 0;
  .imglist-i{
    display: inline-block;
    width: 32.35%;
    padding-top: 32.35%;
    margin-right: 1.4%;
    margin-bottom: 1.4%;
    background-color: #e2e2e2;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    &:nth-child(3n){
      margin-right: 0;
    }
  }
}
.cc-card-stu{
  font-size: 13px;
  color: #b4b4b4;
  margin-bottom: 10px;
}
.cc-card-footer{
  display: flex;
  position: relative;
  margin: 0 -10px -10px;

  a{
    font-size: 13px;
    color: #b4b4b4;
    text-align: center;
    flex: 1;
    line-height: 36px;
    overflow: hidden;
  }
}
.cc-audio{
  @include left-arrows(#ff8116);
  position: relative;
  margin-left: 6px;
  width: 120px;
  height: 36px;
  border-radius: 4px;
  background: #ff8116;
  line-height: 36px;
  color: #fff;
  padding-left: 10px;
  padding-right: 12px;
  margin-bottom: 14px;
  -webkit-user-select: none;
  user-select: none;
  transition: all .1s ease-in;
  span,i{
    position: relative;
    z-index: 10;
  }
}
.cc-audio-bg{
  @include left-arrows(#e26f0d);
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e26f0d;
    border-radius: 4px;
    transform-origin: 0 0;
    animation: length-chan 1s ease-in infinite;
  }
}
.rotate-min{
  float: right;
  display: inline-block;
  animation: preloader-spin 1s linear infinite;
}

.user-head-min{
  display: inline-block;
  width: 38px;
  height: 38px;
  background: #e3e3e3;
  border-radius: 200px;
  vertical-align: -13px;
  background-image: url(../imgs/n_head.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  &.sx{
    width: 34px;
    height: 34px;
  }
  &.max{
    width: 70px;
    height: 70px;
  }
}
.close-swiper{
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  width: 54px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 18px;
  opacity: .5;
  z-index: 700;
}
.cc-card-delet{
  float: right;
  color: #b4b4b4;
  padding:0 10px;
}

.J_colled,.J_praised{
  color: #f7a661 !important;
}
.J_addimg{
  background: url(../imgs/btn-img.jpg) no-repeat center/contain;
}

// 答案列表
.cc-bar{
  &:before{
    content: '';
    background: #e27315;
  }
}
.cc-common-title{
  @extend %border-bottom;
  background: #fff;
  position: relative;
  font-size: 14px;
  color: #f7a661;
  margin: 0;
  padding: 10px;
  user-select: none;
}
.cc-answer{
  @extend %border-bottom;
  margin-bottom: 0;
  .cc-card-hd{
    line-height: 32px;
  }
  .user-head-min{
    width: 34px;
    height: 34px;
  }
  &:last-child::before{
    content:'';
    height: 0;
  }
}
.cc-com-btn{
  background: #ff8116;
  color: #fff !important;
}

// 最佳答案 & 幸运偷听
.zjda{
  position: relative;
  background: url(../imgs/zjda.png) #fff no-repeat top right/ 62px auto;
}
.xytt{
  position: relative;
  background: url(../imgs/xytt.png) #fff no-repeat top right/ 62px auto;
}

.logo-ico{
  display: inline-block;
  width: 40px;
  height: 45px;
  background: url(../imgs/logo.png) no-repeat center/contain;
}

// 举报
.cc-list-b{
  margin: 0;
  font-size: inherit;
}
.cc-modal{
  width: 15rem;
  margin-left: -7.4rem;
  .modal-inner{
    background: #fff;
    padding: 0;
  }
  .modal-title{
    text-align: left;
    font-size: .8rem;
    padding: 10px 10px 0;
    i{
      padding-top: 1px;
      float: right;
      color: #d5d5d9;
    }
  }
  .cc-common-title{
    text-align: left;
    &:before{
      content: '';
      height: 0;
    }
    &:first-child{
      padding-top: 0;
    }
    &:nth-child(3){
      padding-bottom:0;
    }
  }
  .modal-button{
    background: #ff8116;
    color: #fff
  }
  textarea{
    font-size: 14px;
    height: 4rem;
    padding: 10px;
  }
}

// 回答
.common-ctl{
  background: #fff;
  margin-bottom: 20px;
}
.answer-voice{
  position: relative;
  height: 110px;
  text-align: center;
  line-height: 150px;
  user-select: none;
  -webkit-user-select: none;
  &.min{
    height: 1px;
    > a {
      display: none;
    }
  }
  &.play{
    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #eee;
      transform: scale(1);
      transform-origin: center bottom;
      animation: wbefor 1s ease-in-out infinite;
    }
  }
  a {
    position: relative;
    font-size: 36px;
    width: 70px;
    height: 70px;
    border: 2px solid #ff8116;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 68px;
    color: #ff8116;
    z-index: 30;
    &:active{
      background: #ff8116;
      color: #ffffff;
      box-shadow: inset 0 0 0 3px #fff;
    }
  }
  .cc-audio{
    position: absolute;
    top: -39px;
    left: 50%;
    margin-left: -65px;
  }
  .J_del_voice{
    position: absolute;
    left: 114%;
    color: #bbb;
    font-size: 20px;
  }
}
.answer-text{
  position: relative;
  @extend %border-bottom;
  textarea{
    resize: none;
    width: 100%;
    padding: 10px;
    border: 0;
    font-size: 14px;
  }
}
.answer-imgs{
  position: relative;
  @extend %border-bottom;
  padding: 10px;
  font-size: 0;
  user-select: none;
}
.ans-img-item{
  position: relative;
  display: inline-block;
  width: 15.4%;
  padding-top: 15.4%;
  margin-left: 1.5%;
  -webkit-background-size: cover;
  background-size: cover;
  &:first-child{
    margin-left: 0;
  }
}
.answer-imgs-tag{
  display: block;
  padding-top: 6px;
  font-size: 12px;
  color: #a9a9a9;
}
.common-com{
  padding: 10px;
}
.cc-input{
  -webkit-appearance: none;
  border-radius: 4px;
  border: 1px solid #eee;
  padding-left: 10px;
  font-size: 14px;
  height: 36px;
  width: 100%;
  margin-bottom: 15px;
}
.cc-btn{
  width: 100%;
  height: 36px;
}
.com-nim{
  display: block;
  font-size: 14px;
  margin-bottom: 15px;
  .item-media,
  .item-media{
    display: inline-block;
    vertical-align: middle;
  }
}

// 排行榜
.cc-tab{
  .tab-link{
    font-size: 14px;
    text-align: center;
    &.active{
      color: #ff8116;
      border-color: #ff8116;
    }
  }
}
.cc-list-hd{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  color: #ff8116;
}
.cc-li-l{
  flex-shrink: 1;
}
.cc-li-r{
  flex-shrink: 0;
  color: #ff8116;
}

%pai-h{
    content: '';
    position: absolute;
    top: 60%;
    left: 1px;
    display: block;
    width: 32px;
    height: 32px;
}

.cc-list-con{
  margin: 0;
  padding: 0;
  background: #fff;
  height: auto;
  transition: all .3s ease-in-out;

  li{
    position: relative;
    @extend %border-bottom;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    list-style: none;
    font-size: 14px;
    align-items: center;
    > .cc-li-l > i{
      margin-right: 5px;
    }
    &:nth-child(1){
      .user-head-min{
        position: relative;
      }
      .user-head-min:before{
        @extend %pai-h;
        background: url(../imgs/pai_1.png) no-repeat center/contain;
      }
    }
    &:nth-child(2){
      .user-head-min{
        position: relative;
      }
      .user-head-min:before{
        @extend %pai-h;
        background: url(../imgs/pai_2.png) no-repeat center/contain;
      }
    }
    &:nth-child(3){
      .user-head-min{
        position: relative;
      }
      .user-head-min:before{
        @extend %pai-h;
        background: url(../imgs/pai_3.png) no-repeat center/contain;
      }
    }
  }
}

.tag-list{
  display: flex;
  padding: 10px;
  height: 48px;
  overflow: hidden;
  &.showall{
    height: auto;
    .tag-showall:before{
      content: '\e60e';
    }
  }
}
.tag-item{
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 5px;
}
.tag-list-l{
  flex-shrink: 1;
}
.tag-list-r{
  flex-shrink: 0;
}
.tag-showall{
  display: block;
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 30px;
  color: #ff8116;
  text-align: center;
  &:before{
    content: '\e60f';
  }
}

// 用户中心
.user-banner{
  height: 150px;
  background: url(../imgs/bg.jpg) no-repeat center/cover;
  &.min{
    height: 110px;
    padding: 30px 0 0 20px;
    .user-info{
      color: #fff;
      &.spe{
        a{
          border: 3px solid #fff;
        }
      }
    }
    .user-head-min{
      width: 56px;
      height: 56px;
      vertical-align: -22px;
      border: 3px solid #ee873a;
    }
  }
}
.user-seting{
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: right;
}
.user-nav{
  display: flex;
  background: #fff;
  margin-bottom: 10px;
  > a{
    flex: 1;
    font-size: 12px;
    text-align: center;
    padding: 10px 0  10px;
    color: #ff8116;
  }
  .u-ico{
    font-size: 20px;
  }
  .u-name{
    color: #888;
  }
  p{
    margin: 0;
  }
  .user-head-min{
    position: relative;
    top: -4px;
    margin-top: -40px;
    border: 3px solid #fff;
  }
}
.user-context{
  background: #fff;
  .list-block{
    margin: 0;
  }
  a{
    color: #888;
    font-size: 14px;
    i{
      font-size: 20px;
      vertical-align: -2px;
      margin-right: 3px;
    }
  }
  .item-inner{
    min-height: 2.4rem;
  }
}

.red{ color: #c62a1f; }
.green{ color: #63ad3a; }
.orange{ color: #fa941a; }
.purple{ color: #306093; }
.pink{ color: #ad6c86; }
.water{ color: #fc6547; }
.theme{ color: #ff8116 !important; }
.gray{ color: #888; }

// 用户设置
.cc-setting{
  margin: 0;
  .item-title.label{
    width: 26%;
  }
}
.change-num{
  position: relative;
  a{
    position: absolute;
    top: 12px;
    right: 0;
    font-size: 13px;
    text-decoration: underline;
  }
  input{
    width: 75% !important;
  }
}

// 我的收益
.cc-earnings{
  margin: 0;
  font-size: 14px;
  .item-inner{
    align-items: flex-start;
  }
  .item-title p{
    margin: 0;
    font-size: 12px;
    color: #888;
  }
}
.cc-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  font-size: 14px;
  .item-title{
    justify-content: flex-start;
  }
  .item-after{
  }
}

// 专家列表
.expert-list{
  font-size: 0;
}
.expert-item{
  img{
    width: 100%;
  }
}
.banner-max{
  height: 210px;
  background: url(../imgs/banner_max.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}
.tit-con{
  background: #fff;
  padding: 10px;
  margin: 0 0 5px 0;
  font-size: 15px;
}
.spe-content{
  background: #fff;
}
.spe-row{
  display: table;
  width: 100%;
}
.spe-item{
  display: table-cell;
  padding: 10px;
}
.spe-inner{
  text-align: center;
  font-size: 14px;
  border: 1px solid #f7a661;
  border-radius: 4px;
  h4{
    padding-top: 5px;
    margin: 0;
  }
  p{
    padding-bottom: 5px;
    margin: 0;
  }
}
.spe-text{
  margin: 0;
  padding: 10px;
  font-size: 14px;
  line-height: 1.6;
}

// 日期时间选择器
.chooser-date{
  background: #fff;
  margin-bottom: 10px;
  .cho-hd{
    position: relative;
    background: #ff8116;
    padding: 10px;
    text-align: center;
    font-size: 0;
  }
  .cho-date{
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    color: #fff;
    width: 180px;
    text-align: center;
    height: 20px;
    line-height: 0;
    padding: 0;
    font-size: 16px;
  }
  .prev,.next{
    position: absolute;
    color: #fff;
    top: 10px;
    font-size: 15px;
  }
  .prev{
    left: 10px;
  }
  .next{
    right: 10px;
  }
  .cho-con{
    padding: 10px;
  }
  .cho-item{
    position: relative;

    input{
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
    }
    .cho-chekbox{
      display: block;
      border: 1px solid #ff8116;
      font-size: .7rem;
      text-align: center;
      margin-bottom: 20px;
      padding: 5px 0;
      line-height: 1.5;
      border-radius: 4px;
    }
    input:disabled + .cho-chekbox{
      border: 1px solid #e3e3e3;
      color: #e3e3e3;
    }
    input:checked + .cho-chekbox{
      position: relative;
      overflow: hidden;
      &:before{
        content: "\e608";
        font-family: "iconfont-sm" !important;
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        color: #fff;
        font-size: 10px;
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-top: 9px solid transparent;
        border-right: 9px solid #ff8116;
        border-bottom: 9px solid #ff8116;
        line-height: 4px;
        font-size: 9px;
      }
    }
  }
  .cho-text{
    position: absolute;
    bottom: 3px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #ff8116;
  }
}

.content-xw{
  background: #fff;
}
.spe-bg{
  background: #efeff4;
  border: 0;
}

// 我的预约
.cc-u-box{
  position: relative;
  @extend %border-bottom;
}
.cc-u-item{
  position: relative;
  @extend %border-bottom;
  display: flex;
  background: #fff;
  padding: 10px;
}
.cc-u-il{
  width: 20%;
  overflow: hidden;
  text-align: center;
  border-right: 1px solid #eee;
  p{
    margin: 5px 0 0;
    font-size: 12px;
  }
}
.cc-u-ir{
  padding-left: 10px;
  width: 79%;
  color: #888;
}
.cc-u-inhead{
  margin: 0;
  font-size: 14px;
  font-weight: inherit;
  margin-bottom: 16px;
}
.cc-u-inbody{
  font-size: 14px;
  span{
    float: right;
    color: #ff8116;
    small{
      color: #888;
    }
  }
}
.btn-box{
  padding: 10px;
  background: #f7f7f9;
  .button{
    width: 90px;
    background: #fff;
    float: right;
    margin-left: 10px;
  }
}

.m-b{
  margin-bottom: 10px;
}
.cc-eva{
  background: #fff;
}
.start-box{
  text-align: center;
  padding: 20px 0 10px;
  font-size: 32px;
  color: #ff8116;
}
.cc-asked{
  font-size: 14px;
  padding-bottom: 5px;
  display: block;
  text-align: right;
  color: #888;
  margin-right: 5px;
}

// 我的问题详情
.asked-box{
  //background: #fff;
  .modal-inner:after{
    height: 0;
  }
  .cc-common-title:first-child:before{
    height: 1px;
  }
  .modal-buttons{
    display: block;
    margin-top: 40px;
  }
  .cc-m-btn{
    user-select: none;
    width: 100%;
    padding: 0 .25rem;
    height: 2.2rem;
    font-size: .85rem;
    line-height: 2.2rem;
    text-align: center;
    background: #ff8116;
    color: #fff;
    display: block;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    border-radius: 0 0 .35rem .35rem;
  }
}
.cc-txt{
  padding: 10px;
  font-size: 14px;
  background: #fff;
  margin: 0 0 15px;
}
.red-packer{
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  .modal-inner{
    background: url(../imgs/red_packer.jpg) no-repeat center/ contain;
    padding-top: 159%;
  }
  .modal-text{
    margin-left: -0.75rem;
  }
  .user-head-min{
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -18px;
    width: 42px;
    height: 42px;
  }
  .user-name{
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 88px;
    left: 4px;
    display: block;
    width: 100%;
  }
  .J_redpacker{
    display: block;
    position: absolute;
    top: 62%;
    left: 50%;
    margin-left: -46px;
    width: 92px;
    height: 92px;
  }
  .J_closeModal{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
  }
}

.cc-minlist{
  font-size: 14px;
  margin-bottom: 15px;
  background: #f8f8fb;
  .cc-list-hd{
    padding: 8px 10px;
    position: relative;
    @extend %border-bottom;
  }
  .cc-list-con{
    background: transparent;
    li{
      padding: 8px 10px;
    }
    li .user-head-min{
      width: 26px;
      height: 26px;
      vertical-align: -8px;
      &:before{
        content: none;
      }
    }
  }
  .hidemore{
    height: 126px;
    overflow: hidden;
  }
  .showmore{
    display: block;
    padding: 4px 10px;
    text-align: center;
  }
}
.input-pho-grop{
  padding: 0 10px;
  display: flex;
  .cp-a{
    height: 36px;
    margin-left: 5px;
    line-height: 35px;
  }
}


// loading
.preloader-line{
  text-align: center;
}
.cc-pull-up{
  .pull-to-refresh-arrow{
    transform: rotate(180deg);
  }
}
.cc-pull-refresh{
  height: 0;
  top: -26px;
}

// 加载动画控制
.qlitem-transition{
  transition: all .4s ease-in-out;
}
.qlitem-enter, .qlitem-leave {
  opacity: 0;
  transform: translate(0,70px) scale(.9);
}

// 动画
@keyframes length-chan {
  0%{ transform: scale(.1,1)}
  50%{ transform: scale(1,1)}
  60%{ transform: scale(.8,1)}
  70%{ transform: scale(1,1)}
  100%{ transform: scale(.1,1)}
}
@keyframes wbefor {
  0%{ transform: scale(1,.01)}
  100%{ transform: scale(1,1)}
}

.fz-m{
  font-size: 14px;
}