<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hj.wxmp.mobile.mapping.AccessRecord03Mapper" >
  <resultMap id="BaseResultMap" type="com.hj.wxmp.mobile.entity.AccessRecord03" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="projId" property="projid" jdbcType="VARCHAR" />
    <result column="custId" property="custid" jdbcType="VARCHAR" />
    <result column="custName" property="custname" jdbcType="VARCHAR" />
    <result column="custPhoneNum" property="custphonenum" jdbcType="VARCHAR" />
    <result column="custSex" property="custsex" jdbcType="VARCHAR" />
    <result column="visitCycle" property="visitcycle" jdbcType="INTEGER" />
    <result column="purchaseCycle" property="purchasecycle" jdbcType="INTEGER" />
    <result column="signCycle" property="signcycle" jdbcType="INTEGER" />
    <result column="purchaseDate" property="purchasedate" jdbcType="DATE" />
    <result column="signDate" property="signdate" jdbcType="DATE" />
    <result column="houseNum" property="housenum" jdbcType="VARCHAR" />
    <result column="houseRegiType" property="houseregitype" jdbcType="VARCHAR" />
    <result column="houseAcreage" property="houseacreage" jdbcType="REAL" />
    <result column="unitPrice" property="unitprice" jdbcType="REAL" />
    <result column="totalPrice" property="totalprice" jdbcType="REAL" />
    <result column="paymentType" property="paymenttype" jdbcType="VARCHAR" />
    <result column="realtyProductType" property="realtyproducttype" jdbcType="VARCHAR" />
    <result column="addressMail" property="addressmail" jdbcType="VARCHAR" />
    <result column="livingStatus" property="livingstatus" jdbcType="VARCHAR" />
    <result column="realUseMen" property="realusemen" jdbcType="VARCHAR" />
    <result column="realPayMen" property="realpaymen" jdbcType="VARCHAR" />
    <result column="authorId" property="authorid" jdbcType="VARCHAR" />
    <result column="creatorId" property="creatorid" jdbcType="VARCHAR" />
    <result column="loanBank" property="loanbank" jdbcType="VARCHAR" />
    <result column="buyerPhoneNum" property="buyerphonenum" jdbcType="VARCHAR" />
    <result column="buyerSex" property="buyersex" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="cTime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="lmTime" property="lmtime" jdbcType="TIMESTAMP" />
    <result column="recepTime" property="receptime" jdbcType="TIMESTAMP" />
    <result column="firstKnowTime" property="firstknowtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hj.wxmp.mobile.entity.AccessRecord03" extends="BaseResultMap" >
    <result column="realtyProductTypeDesc" property="realtyproducttypedesc" jdbcType="LONGVARCHAR" />
    <result column="suggestion" property="suggestion" jdbcType="LONGVARCHAR" />
    <result column="talkQandS" property="talkqands" jdbcType="LONGVARCHAR" />
    <result column="signQandS" property="signqands" jdbcType="LONGVARCHAR" />
    <result column="sumDescn" property="sumdescn" jdbcType="LONGVARCHAR" />
    <result column="buyerName" property="buyername" jdbcType="VARCHAR" />
    <result column="paymentTypeDesc" property="paymenttypedesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, projId, custId, custName, custPhoneNum, custSex, visitCycle, purchaseCycle, signCycle, 
    purchaseDate, signDate, houseNum, houseRegiType, houseAcreage, unitPrice, totalPrice, 
    paymentType, realtyProductType, addressMail, livingStatus, realUseMen, realPayMen, 
    authorId, creatorId, status, cTime, lmTime,recepTime,loanBank,firstKnowTime,buyerPhoneNum,buyerSex
  </sql>
  <sql id="Blob_Column_List" >
    realtyProductTypeDesc, suggestion, talkQandS, signQandS, sumDescn,buyerName,paymentTypeDesc
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ql_AccessRecord03
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ql_AccessRecord03
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hj.wxmp.mobile.entity.AccessRecord03" >
    insert into ql_AccessRecord03 (id, projId, custId, 
      custName, custPhoneNum, custSex, 
      visitCycle, purchaseCycle, signCycle, 
      purchaseDate, signDate, houseNum, 
      houseRegiType, houseAcreage, unitPrice, 
      totalPrice, paymentType, realtyProductType, 
      addressMail, livingStatus, realUseMen, 
      realPayMen, authorId, creatorId, 
      status, cTime, lmTime, 
      realtyProductTypeDesc, suggestion, 
      talkQandS, signQandS, sumDescn
      )
    values (#{id,jdbcType=VARCHAR}, #{projid,jdbcType=VARCHAR}, #{custid,jdbcType=VARCHAR}, 
      #{custname,jdbcType=VARCHAR}, #{custphonenum,jdbcType=VARCHAR}, #{custsex,jdbcType=VARCHAR}, 
      #{visitcycle,jdbcType=INTEGER}, #{purchasecycle,jdbcType=INTEGER}, #{signcycle,jdbcType=INTEGER}, 
      #{purchasedate,jdbcType=DATE}, #{signdate,jdbcType=DATE}, #{housenum,jdbcType=VARCHAR}, 
      #{houseregitype,jdbcType=VARCHAR}, #{houseacreage,jdbcType=REAL}, #{unitprice,jdbcType=REAL}, 
      #{totalprice,jdbcType=REAL}, #{paymenttype,jdbcType=VARCHAR}, #{realtyproducttype,jdbcType=VARCHAR}, 
      #{addressmail,jdbcType=VARCHAR}, #{livingstatus,jdbcType=VARCHAR}, #{realusemen,jdbcType=VARCHAR}, 
      #{realpaymen,jdbcType=VARCHAR}, #{authorid,jdbcType=VARCHAR}, #{creatorid,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP}, #{lmtime,jdbcType=TIMESTAMP}, 
      #{realtyproducttypedesc,jdbcType=LONGVARCHAR}, #{suggestion,jdbcType=LONGVARCHAR}, 
      #{talkqands,jdbcType=LONGVARCHAR}, #{signqands,jdbcType=LONGVARCHAR}, #{sumdescn,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hj.wxmp.mobile.entity.AccessRecord03" >
    insert into ql_AccessRecord03
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projid != null" >
        projId,
      </if>
      <if test="custid != null" >
        custId,
      </if>
      <if test="custname != null" >
        custName,
      </if>
      <if test="custphonenum != null" >
        custPhoneNum,
      </if>
      <if test="custsex != null" >
        custSex,
      </if>
      <if test="visitcycle != null" >
        visitCycle,
      </if>
      <if test="purchasecycle != null" >
        purchaseCycle,
      </if>
      <if test="signcycle != null" >
        signCycle,
      </if>
      <if test="purchasedate != null" >
        purchaseDate,
      </if>
      <if test="signdate != null" >
        signDate,
      </if>
      <if test="housenum != null" >
        houseNum,
      </if>
      <if test="houseregitype != null" >
        houseRegiType,
      </if>
      <if test="houseacreage != null" >
        houseAcreage,
      </if>
      <if test="unitprice != null" >
        unitPrice,
      </if>
      <if test="totalprice != null" >
        totalPrice,
      </if>
      <if test="paymenttype != null" >
        paymentType,
      </if>
      <if test="realtyproducttype != null" >
        realtyProductType,
      </if>
      <if test="addressmail != null" >
        addressMail,
      </if>
      <if test="livingstatus != null" >
        livingStatus,
      </if>
      <if test="realusemen != null" >
        realUseMen,
      </if>
      <if test="realpaymen != null" >
        realPayMen,
      </if>
      <if test="authorid != null" >
        authorId,
      </if>
      <if test="creatorid != null" >
        creatorId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="ctime != null" >
        cTime,
      </if>
      <if test="lmtime != null" >
        lmTime,
      </if>
      <if test="realtyproducttypedesc != null" >
        realtyProductTypeDesc,
      </if>
      <if test="suggestion != null" >
        suggestion,
      </if>
      <if test="talkqands != null" >
        talkQandS,
      </if>
      <if test="signqands != null" >
        signQandS,
      </if>
      <if test="sumdescn != null" >
        sumDescn,
      </if>
      <if test="receptime != null" >
        recepTime,
      </if>
      <if test="loanbank != null" >
        loanBank,
      </if>
      <if test="buyername != null" >
        buyerName,
      </if>
      <if test="firstknowtime != null" >
        firstKnowTime,
      </if>
      <if test="paymenttypedesc != null" >
        paymentTypeDesc,
      </if>
      <if test="buyerphonenum != null" >
        buyerPhoneNum,
      </if>
      <if test="buyersex != null" >
        buyerSex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projid != null" >
        #{projid,jdbcType=VARCHAR},
      </if>
      <if test="custid != null" >
        #{custid,jdbcType=VARCHAR},
      </if>
      <if test="custname != null" >
        #{custname,jdbcType=VARCHAR},
      </if>
      <if test="custphonenum != null" >
        #{custphonenum,jdbcType=VARCHAR},
      </if>
      <if test="custsex != null" >
        #{custsex,jdbcType=VARCHAR},
      </if>
      <if test="visitcycle != null" >
        #{visitcycle,jdbcType=INTEGER},
      </if>
      <if test="purchasecycle != null" >
        #{purchasecycle,jdbcType=INTEGER},
      </if>
      <if test="signcycle != null" >
        #{signcycle,jdbcType=INTEGER},
      </if>
      <if test="purchasedate != null" >
        #{purchasedate,jdbcType=DATE},
      </if>
      <if test="signdate != null" >
        #{signdate,jdbcType=DATE},
      </if>
      <if test="housenum != null" >
        #{housenum,jdbcType=VARCHAR},
      </if>
      <if test="houseregitype != null" >
        #{houseregitype,jdbcType=VARCHAR},
      </if>
      <if test="houseacreage != null" >
        #{houseacreage,jdbcType=REAL},
      </if>
      <if test="unitprice != null" >
        #{unitprice,jdbcType=REAL},
      </if>
      <if test="totalprice != null" >
        #{totalprice,jdbcType=REAL},
      </if>
      <if test="paymenttype != null" >
        #{paymenttype,jdbcType=VARCHAR},
      </if>
      <if test="realtyproducttype != null" >
        #{realtyproducttype,jdbcType=VARCHAR},
      </if>
      <if test="addressmail != null" >
        #{addressmail,jdbcType=VARCHAR},
      </if>
      <if test="livingstatus != null" >
        #{livingstatus,jdbcType=VARCHAR},
      </if>
      <if test="realusemen != null" >
        #{realusemen,jdbcType=VARCHAR},
      </if>
      <if test="realpaymen != null" >
        #{realpaymen,jdbcType=VARCHAR},
      </if>
      <if test="authorid != null" >
        #{authorid,jdbcType=VARCHAR},
      </if>
      <if test="creatorid != null" >
        #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="lmtime != null" >
        #{lmtime,jdbcType=TIMESTAMP},
      </if>
      <if test="realtyproducttypedesc != null" >
        #{realtyproducttypedesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="suggestion != null" >
        #{suggestion,jdbcType=LONGVARCHAR},
      </if>
      <if test="talkqands != null" >
        #{talkqands,jdbcType=LONGVARCHAR},
      </if>
      <if test="signqands != null" >
        #{signqands,jdbcType=LONGVARCHAR},
      </if>
      <if test="sumdescn != null" >
        #{sumdescn,jdbcType=LONGVARCHAR},
      </if>
      <if test="receptime != null" >
        #{receptime,jdbcType=TIMESTAMP},
      </if>
      <if test="loanbank != null" >
        #{loanbank,jdbcType=VARCHAR},
      </if>
      <if test="buyername != null" >
        #{buyername,jdbcType=VARCHAR},
      </if>
      <if test="firstknowtime != null" >
        #{firstknowtime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymenttypedesc != null" >
        #{paymenttypedesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="buyerphonenum != null" >
        #{buyerphonenum,jdbcType=VARCHAR},
      </if>
      <if test="buyersex != null" >
        #{buyersex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hj.wxmp.mobile.entity.AccessRecord03" >
    update ql_AccessRecord03
    <set >
      <if test="projid != null" >
        projId = #{projid,jdbcType=VARCHAR},
      </if>
      <if test="custid != null" >
        custId = #{custid,jdbcType=VARCHAR},
      </if>
      <if test="custname != null" >
        custName = #{custname,jdbcType=VARCHAR},
      </if>
      <if test="custphonenum != null" >
        custPhoneNum = #{custphonenum,jdbcType=VARCHAR},
      </if>
      <if test="custsex != null" >
        custSex = #{custsex,jdbcType=VARCHAR},
      </if>
      <if test="visitcycle != null" >
        visitCycle = #{visitcycle,jdbcType=INTEGER},
      </if>
      <if test="purchasecycle != null" >
        purchaseCycle = #{purchasecycle,jdbcType=INTEGER},
      </if>
      <if test="signcycle != null" >
        signCycle = #{signcycle,jdbcType=INTEGER},
      </if>
      <if test="purchasedate != null" >
        purchaseDate = #{purchasedate,jdbcType=DATE},
      </if>
      <if test="signdate != null" >
        signDate = #{signdate,jdbcType=DATE},
      </if>
      <if test="housenum != null" >
        houseNum = #{housenum,jdbcType=VARCHAR},
      </if>
      <if test="houseregitype != null" >
        houseRegiType = #{houseregitype,jdbcType=VARCHAR},
      </if>
      <if test="houseacreage != null" >
        houseAcreage = #{houseacreage,jdbcType=REAL},
      </if>
      <if test="unitprice != null" >
        unitPrice = #{unitprice,jdbcType=REAL},
      </if>
      <if test="totalprice != null" >
        totalPrice = #{totalprice,jdbcType=REAL},
      </if>
      <if test="paymenttype != null" >
        paymentType = #{paymenttype,jdbcType=VARCHAR},
      </if>
      <if test="realtyproducttype != null" >
        realtyProductType = #{realtyproducttype,jdbcType=VARCHAR},
      </if>
      <if test="addressmail != null" >
        addressMail = #{addressmail,jdbcType=VARCHAR},
      </if>
      <if test="livingstatus != null" >
        livingStatus = #{livingstatus,jdbcType=VARCHAR},
      </if>
      <if test="realusemen != null" >
        realUseMen = #{realusemen,jdbcType=VARCHAR},
      </if>
      <if test="realpaymen != null" >
        realPayMen = #{realpaymen,jdbcType=VARCHAR},
      </if>
      <if test="authorid != null" >
        authorId = #{authorid,jdbcType=VARCHAR},
      </if>
      <if test="creatorid != null" >
        creatorId = #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        cTime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="lmtime != null" >
        lmTime = #{lmtime,jdbcType=TIMESTAMP},
      </if>
      <if test="realtyproducttypedesc != null" >
        realtyProductTypeDesc = #{realtyproducttypedesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="suggestion != null" >
        suggestion = #{suggestion,jdbcType=LONGVARCHAR},
      </if>
      <if test="talkqands != null" >
        talkQandS = #{talkqands,jdbcType=LONGVARCHAR},
      </if>
      <if test="signqands != null" >
        signQandS = #{signqands,jdbcType=LONGVARCHAR},
      </if>
      <if test="sumdescn != null" >
        sumDescn = #{sumdescn,jdbcType=LONGVARCHAR},
      </if>
      <if test="receptime != null" >
        recepTime = #{receptime,jdbcType=TIMESTAMP},
      </if>
      <if test="loanbank != null" >
        loanBank = #{loanbank,jdbcType=VARCHAR},
      </if>
      <if test="buyername != null" >
        buyerName = #{buyername,jdbcType=VARCHAR},
      </if>
      <if test="firstknowtime != null" >
        firstKnowTime = #{firstknowtime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymenttypedesc != null" >
        paymentTypeDesc = #{paymenttypedesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="buyerphonenum != null" >
        buyerPhoneNum = #{buyerphonenum,jdbcType=VARCHAR},
      </if>
      <if test="buyersex != null" >
        buyerSex = #{buyersex,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hj.wxmp.mobile.entity.AccessRecord03" >
    update ql_AccessRecord03
    set projId = #{projid,jdbcType=VARCHAR},
      custId = #{custid,jdbcType=VARCHAR},
      custName = #{custname,jdbcType=VARCHAR},
      custPhoneNum = #{custphonenum,jdbcType=VARCHAR},
      custSex = #{custsex,jdbcType=VARCHAR},
      visitCycle = #{visitcycle,jdbcType=INTEGER},
      purchaseCycle = #{purchasecycle,jdbcType=INTEGER},
      signCycle = #{signcycle,jdbcType=INTEGER},
      purchaseDate = #{purchasedate,jdbcType=DATE},
      signDate = #{signdate,jdbcType=DATE},
      houseNum = #{housenum,jdbcType=VARCHAR},
      houseRegiType = #{houseregitype,jdbcType=VARCHAR},
      houseAcreage = #{houseacreage,jdbcType=REAL},
      unitPrice = #{unitprice,jdbcType=REAL},
      totalPrice = #{totalprice,jdbcType=REAL},
      paymentType = #{paymenttype,jdbcType=VARCHAR},
      realtyProductType = #{realtyproducttype,jdbcType=VARCHAR},
      addressMail = #{addressmail,jdbcType=VARCHAR},
      livingStatus = #{livingstatus,jdbcType=VARCHAR},
      realUseMen = #{realusemen,jdbcType=VARCHAR},
      realPayMen = #{realpaymen,jdbcType=VARCHAR},
      authorId = #{authorid,jdbcType=VARCHAR},
      creatorId = #{creatorid,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      cTime = #{ctime,jdbcType=TIMESTAMP},
      lmTime = #{lmtime,jdbcType=TIMESTAMP},
      realtyProductTypeDesc = #{realtyproducttypedesc,jdbcType=LONGVARCHAR},
      suggestion = #{suggestion,jdbcType=LONGVARCHAR},
      talkQandS = #{talkqands,jdbcType=LONGVARCHAR},
      signQandS = #{signqands,jdbcType=LONGVARCHAR},
      sumDescn = #{sumdescn,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hj.wxmp.mobile.entity.AccessRecord03" >
    update ql_AccessRecord03
    set projId = #{projid,jdbcType=VARCHAR},
      custId = #{custid,jdbcType=VARCHAR},
      custName = #{custname,jdbcType=VARCHAR},
      custPhoneNum = #{custphonenum,jdbcType=VARCHAR},
      custSex = #{custsex,jdbcType=VARCHAR},
      visitCycle = #{visitcycle,jdbcType=INTEGER},
      purchaseCycle = #{purchasecycle,jdbcType=INTEGER},
      signCycle = #{signcycle,jdbcType=INTEGER},
      purchaseDate = #{purchasedate,jdbcType=DATE},
      signDate = #{signdate,jdbcType=DATE},
      houseNum = #{housenum,jdbcType=VARCHAR},
      houseRegiType = #{houseregitype,jdbcType=VARCHAR},
      houseAcreage = #{houseacreage,jdbcType=REAL},
      unitPrice = #{unitprice,jdbcType=REAL},
      totalPrice = #{totalprice,jdbcType=REAL},
      paymentType = #{paymenttype,jdbcType=VARCHAR},
      realtyProductType = #{realtyproducttype,jdbcType=VARCHAR},
      addressMail = #{addressmail,jdbcType=VARCHAR},
      livingStatus = #{livingstatus,jdbcType=VARCHAR},
      realUseMen = #{realusemen,jdbcType=VARCHAR},
      realPayMen = #{realpaymen,jdbcType=VARCHAR},
      authorId = #{authorid,jdbcType=VARCHAR},
      creatorId = #{creatorid,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      cTime = #{ctime,jdbcType=TIMESTAMP},
      lmTime = #{lmtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 未审核的所有首访记录 -->
  <select id="selectMessage" resultType="java.util.Map" parameterType="java.util.Map">
	SELECT
		ql3.*, qlp.projName,
		plu.realName
	FROM
		ql_AccessRecord03 ql3
	JOIN ql_Project qlp ON ql3.projId = qlp.id
	JOIN plat_User plu ON ql3.authorId = plu.id 
	WHERE 1=1 
	<if test="state != -1 and state != null">
		and ql3.status = #{state}
	</if>
	<if test="userIds != '' and userIds != null">
		and instr(#{userIds},ql3.authorId)
	</if>
	and instr(ql3.custName , #{userName})
	order by cTime desc 
	limit #{page},#{pageSize}
  </select>
  <!-- 未审核的所有首访记录数量 -->
  <select id="selectMessageCount" resultType="java.lang.Integer" parameterType="java.util.Map">
	SELECT
		count(1)
	FROM
		ql_AccessRecord03 ql3
	JOIN ql_Project qlp ON ql3.projId = qlp.id
	JOIN plat_User plu ON ql3.authorId = plu.id 
	WHERE 1=1 
	<if test="state != -1 and state != null">
		and ql3.status = #{state}
	</if>
	<if test="userIds != '' and userIds != null">
		and instr(#{userIds},ql3.authorId)
	</if>
	and instr(ql3.custName , #{userName})
  </select>
  
  
  
  <!-- 删除多条 -->
  <delete id="dels" parameterType="java.lang.String" >
    delete from ql_AccessRecord03
    where INSTR(#{boxeditId},id)
  </delete>
  
  
  <select id="getRecord03List" resultType="java.util.Map" parameterType="java.util.Map">
  	select * from ql_AccessRecord03 where authorId=#{userId} order by status desc,cTime desc limit #{page},#{pageSize}
  </select>
  
  
  <select id="findByCustIdCount" resultType="java.lang.Integer" parameterType="java.util.Map">
  	SELECT count(1) from ql_AccessRecord03 where custId = #{custId} and status = 2 and projId = #{projId}
  </select>
  
  
  <select id="selectByUserId" resultType="com.hj.wxmp.mobile.entity.AccessRecord03" parameterType="java.util.Map">
  	SELECT * from ql_AccessRecord03 where custId = #{custId} and projId = #{projId}
  </select>
  
  <!-- 顾问 -->
  <select id="getRecord03ListGuWen" resultType="java.util.Map" parameterType="java.util.Map">
	select r01.*, 
	  case r01.status when 2 then 1 else 0 end c01,
	  case when r01.count02 is null then 0 else r01.count02 end c02,
	  case when r01.count03 is null then 0 else r01.count03 end c03,
	  case when r01.status is null then 0 else 1 end isKnockdown,
		(case r01.status when 2 then 1 else 0 end)+(case when r01.count02 is null then 0 else r01.count02 end)+(case when r01.count03 is null then 0 else r01.count03 end) total 
	from (
		select a.id, a.realName authorName, a.custName, a.custPhoneNum, a.status, a.recepTime, a.custSex, b.count02, c.count03 from (
	    select m.*, n.realName from ql_AccessRecord03 m, plat_User n
	  	where (m.status = 2 or m.status = 4 or m.status = 1) and m.authorId=n.id and authorId=#{userId}
		<if test="searchSql!=null"> and (${searchSql})</if>
		) a 
		left join (select projId,custId, count(*) count02 from ql_AccessRecord02 where status=2 and INSTR(#{projId},projId) group by custId, projId) b on b.custId=a.custId and b.projId=a.projId
		left join (select projId,custId, count(*) count03 from ql_AccessRecord01 where status=2 and INSTR(#{projId},projId) group by custId, projId) c on c.custId=a.custId and c.projId=a.projId
		order by FIELD(a.status,4,2,1,3),a.cTime desc 
		limit #{page},#{pageSize}
	) as r01
  </select>
  
  <!-- 管理人 -->
  <select id="getRecord03ListGuanLi" resultType="java.util.Map" parameterType="java.util.Map">
	select r01.*, 
	  case r01.status when 2 then 1 else 0 end c01,
	  case when r01.count02 is null then 0 else r01.count02 end c02,
	  case when r01.count03 is null then 0 else r01.count03 end c03,
	  case when r01.status is null then 0 else 1 end isKnockdown,
		(case r01.status when 2 then 1 else 0 end)+(case when r01.count02 is null then 0 else r01.count02 end)+(case when r01.count03 is null then 0 else r01.count03 end) total 
	from (
		select a.id, a.realName authorName, a.custName, a.custPhoneNum, a.status, a.recepTime, a.custSex, b.count02, c.count03 from (
	    select m.*, n.realName from ql_AccessRecord03 m, plat_User n
	  	where (m.status = 2) and m.authorId=n.id and INSTR(#{projId},projId) 
		<if test="searchSql!=null"> and (${searchSql})</if>
		) a 
		left join (select projId,custId, count(*) count02 from ql_AccessRecord02 where status=2 and INSTR(#{projId},projId) group by custId, projId) b on b.custId=a.custId and b.projId=a.projId
		left join (select projId,custId, count(*) count03 from ql_AccessRecord01 where status=2 and INSTR(#{projId},projId) group by custId, projId) c on c.custId=a.custId and c.projId=a.projId
		order by FIELD(a.status,1,2,3,4),a.cTime desc 
	) as r01 
	limit #{page},#{pageSize}
  </select>
  
  <!-- 负责人 -->
  <select id="getRecord03ListFuZe" resultType="java.util.Map" parameterType="java.util.Map">
	select r01.*, 
	  case r01.status when 2 then 1 else 0 end c01,
	  case when r01.count02 is null then 0 else r01.count02 end c02,
	  case when r01.count03 is null then 0 else r01.count03 end c03,
	  case when r01.status is null then 0 else 1 end isKnockdown,
		(case r01.status when 2 then 1 else 0 end)+(case when r01.count02 is null then 0 else r01.count02 end)+(case when r01.count03 is null then 0 else r01.count03 end) total 
	from (
		select a.id, a.realName authorName, a.custName, a.custPhoneNum, a.status, a.recepTime, a.custSex, b.count02, c.count03 from (
	    select m.*, n.realName from ql_AccessRecord03 m, plat_User n
	  	where (m.status = 2 or m.status = 1) and m.authorId=n.id and INSTR(#{projId},projId) 
		<if test="searchSql!=null"> and (${searchSql})</if>
		) a 
		left join (select projId,custId, count(*) count02 from ql_AccessRecord02 where status=2 and INSTR(#{projId},projId) group by custId, projId) b on b.custId=a.custId and b.projId=a.projId
		left join (select projId,custId, count(*) count03 from ql_AccessRecord01 where status=2 and INSTR(#{projId},projId) group by custId, projId) c on c.custId=a.custId and c.projId=a.projId
		order by FIELD(a.status,1,2,3,4),a.cTime desc 
	) as r01 
	limit #{page},#{pageSize}
  </select>
  
  <!-- 管理员 -->
  <select id="getRecord03ListAdmin" resultType="java.util.Map" parameterType="java.util.Map">
	select r01.*, 
	  case r01.status when 2 then 1 else 0 end c01,
	  case when r01.count02 is null then 0 else r01.count02 end c02,
	  case when r01.count03 is null then 0 else r01.count03 end c03,
	  case when r01.status is null then 0 else 1 end isKnockdown,
		(case r01.status when 2 then 1 else 0 end)+(case when r01.count02 is null then 0 else r01.count02 end)+(case when r01.count03 is null then 0 else r01.count03 end) total 
	from (
		select a.id, a.realName authorName, a.custName, a.custPhoneNum, a.status, a.recepTime, a.custSex, b.count02, c.count03 from (
	    select m.*, n.realName from ql_AccessRecord03 m, plat_User n
	  	where (m.status = 2) and m.authorId=n.id  
		<if test="searchSql!=null"> and (${searchSql})</if>
		) a 
		left join (select projId,custId, count(*) count02 from ql_AccessRecord02 where status=2 and INSTR(#{projId},projId) group by custId, projId) b on b.custId=a.custId and b.projId=a.projId
		left join (select projId,custId, count(*) count03 from ql_AccessRecord01 where status=2 and INSTR(#{projId},projId) group by custId, projId) c on c.custId=a.custId and c.projId=a.projId
		order by FIELD(a.status,2,1,3,4),a.cTime desc 
	) as r01 
	limit #{page},#{pageSize}
  </select>
  
  <update id="updateByProjIdAndCustId" parameterType="java.util.Map">
  	update ql_AccessRecord03 set authorId = #{userId} where projId=#{projId} and instr(#{custId},custId)
  </update>
  
  <select id="selectByRecepTime" resultType="com.hj.wxmp.mobile.entity.AccessRecord03" parameterType="java.lang.String">
  	select * from ql_AccessRecord03 where INSTR(recepTime,#{date})
  </select>
  
  
  <!-- 获取所有项目信息 -->
  <select id="findAll" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from ql_AccessRecord03
  </select>
</mapper>