<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hj.wxmp.mobile.mapping.AuditRecordMapper" >
  <resultMap id="BaseResultMap" type="com.hj.wxmp.mobile.entity.AuditRecord" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="recordType" property="recordtype" jdbcType="INTEGER" />
    <result column="arId" property="arid" jdbcType="VARCHAR" />
    <result column="auditType" property="audittype" jdbcType="INTEGER" />
    <result column="cTime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="reason" property="reason" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, recordType, arId, auditType, cTime,
    reason
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ql_AuditRecord
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ql_AuditRecord
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hj.wxmp.mobile.entity.AuditRecord" >
    insert into ql_AuditRecord (id, recordType, arId, 
      auditType, cTime, reason
      )
    values (#{id,jdbcType=VARCHAR}, #{recordtype,jdbcType=INTEGER}, #{arId,jdbcType=VARCHAR}, 
      #{audittype,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP}, #{reason,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hj.wxmp.mobile.entity.AuditRecord" >
    insert into ql_AuditRecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recordtype != null" >
        recordType,
      </if>
      <if test="arid != null" >
        arId,
      </if>
      <if test="audittype != null" >
        auditType,
      </if>
      <if test="ctime != null" >
        cTime,
      </if>
      <if test="reason != null" >
        reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="recordtype != null" >
        #{recordtype,jdbcType=INTEGER},
      </if>
      <if test="arid != null" >
        #{arid,jdbcType=VARCHAR},
      </if>
      <if test="audittype != null" >
        #{audittype,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hj.wxmp.mobile.entity.AuditRecord" >
    update ql_AuditRecord
    <set >
      <if test="recordtype != null" >
        recordType = #{recordtype,jdbcType=INTEGER},
      </if>
      <if test="arid != null" >
        arId = #{arid,jdbcType=VARCHAR},
      </if>
      <if test="audittype != null" >
        auditType = #{audittype,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        cTime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hj.wxmp.mobile.entity.AuditRecord" >
    update ql_AuditRecord
    set recordType = #{recordtype,jdbcType=INTEGER},
      arId = #{arid,jdbcType=VARCHAR},
      auditType = #{audittype,jdbcType=INTEGER},
      cTime = #{ctime,jdbcType=TIMESTAMP},
      reason = #{reason,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hj.wxmp.mobile.entity.AuditRecord" >
    update ql_AuditRecord
    set recordType = #{recordtype,jdbcType=INTEGER},
      arId = #{arid,jdbcType=VARCHAR},
      auditType = #{audittype,jdbcType=INTEGER},
      cTime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  <select id="selectByRecordIdAndType" resultType="java.util.Map" parameterType="java.util.Map">
  	select * from ql_AuditRecord where arId=#{recordId} and recordType=#{recordType} order by cTime desc limit #{page},#{pageSize}
  </select>
  
  <select id="findByArId" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select * from ql_AuditRecord where arId =#{arId} and recordType =#{recordType}  and auditType = 2 order by cTime desc limit 1
  </select>
</mapper>