<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hj.wxmp.mobile.mapping.DayRecepMapper" >
  <resultMap id="BaseResultMap" type="com.hj.wxmp.mobile.entity.DayRecep" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="dayStr" property="daystr" jdbcType="VARCHAR" />
    <result column="miiProjId" property="miiprojid" jdbcType="VARCHAR" />
    <result column="miiUserId" property="miiuserid" jdbcType="VARCHAR" />
    <result column="miiCustId" property="miicustid" jdbcType="VARCHAR" />
    <result column="ar01Count" property="ar01count" jdbcType="INTEGER" />
    <result column="ar02Count" property="ar02count" jdbcType="INTEGER" />
    <result column="ar03Count" property="ar03count" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dayStr, miiProjId, miiUserId, miiCustId, ar01Count, ar02Count, ar03Count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ql_ST_dayRecep
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ql_ST_dayRecep
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hj.wxmp.mobile.entity.DayRecep" >
    insert into ql_ST_dayRecep (id, dayStr, miiProjId, 
      miiUserId, miiCustId, ar01Count, 
      ar02Count, ar03Count)
    values (#{id,jdbcType=VARCHAR}, #{daystr,jdbcType=VARCHAR}, #{miiprojid,jdbcType=VARCHAR}, 
      #{miiuserid,jdbcType=VARCHAR}, #{miicustid,jdbcType=VARCHAR}, #{ar01count,jdbcType=INTEGER}, 
      #{ar02count,jdbcType=INTEGER}, #{ar03count,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hj.wxmp.mobile.entity.DayRecep" >
    insert into ql_ST_dayRecep
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="daystr != null" >
        dayStr,
      </if>
      <if test="miiprojid != null" >
        miiProjId,
      </if>
      <if test="miiuserid != null" >
        miiUserId,
      </if>
      <if test="miicustid != null" >
        miiCustId,
      </if>
      <if test="ar01count != null" >
        ar01Count,
      </if>
      <if test="ar02count != null" >
        ar02Count,
      </if>
      <if test="ar03count != null" >
        ar03Count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="daystr != null" >
        #{daystr,jdbcType=VARCHAR},
      </if>
      <if test="miiprojid != null" >
        #{miiprojid,jdbcType=VARCHAR},
      </if>
      <if test="miiuserid != null" >
        #{miiuserid,jdbcType=VARCHAR},
      </if>
      <if test="miicustid != null" >
        #{miicustid,jdbcType=VARCHAR},
      </if>
      <if test="ar01count != null" >
        #{ar01count,jdbcType=INTEGER},
      </if>
      <if test="ar02count != null" >
        #{ar02count,jdbcType=INTEGER},
      </if>
      <if test="ar03count != null" >
        #{ar03count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hj.wxmp.mobile.entity.DayRecep" >
    update ql_ST_dayRecep
    <set >
      <if test="daystr != null" >
        dayStr = #{daystr,jdbcType=VARCHAR},
      </if>
      <if test="miiprojid != null" >
        miiProjId = #{miiprojid,jdbcType=VARCHAR},
      </if>
      <if test="miiuserid != null" >
        miiUserId = #{miiuserid,jdbcType=VARCHAR},
      </if>
      <if test="miicustid != null" >
        miiCustId = #{miicustid,jdbcType=VARCHAR},
      </if>
      <if test="ar01count != null" >
        ar01Count = #{ar01count,jdbcType=INTEGER},
      </if>
      <if test="ar02count != null" >
        ar02Count = #{ar02count,jdbcType=INTEGER},
      </if>
      <if test="ar03count != null" >
        ar03Count = #{ar03count,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hj.wxmp.mobile.entity.DayRecep" >
    update ql_ST_dayRecep
    set dayStr = #{daystr,jdbcType=VARCHAR},
      miiProjId = #{miiprojid,jdbcType=VARCHAR},
      miiUserId = #{miiuserid,jdbcType=VARCHAR},
      miiCustId = #{miicustid,jdbcType=VARCHAR},
      ar01Count = #{ar01count,jdbcType=INTEGER},
      ar02Count = #{ar02count,jdbcType=INTEGER},
      ar03Count = #{ar03count,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>