<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hj.wxmp.mobile.mapping.DictDBAKMapper" >
  <resultMap id="BaseResultMap" type="com.hj.wxmp.mobile.entity.DictDBAK" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="mId" property="mid" jdbcType="VARCHAR" />
    <result column="pId" property="pid" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="isValidate" property="isvalidate" jdbcType="INTEGER" />
    <result column="ddName" property="ddname" jdbcType="VARCHAR" />
    <result column="nPy" property="npy" jdbcType="VARCHAR" />
    <result column="aliasName" property="aliasname" jdbcType="VARCHAR" />
    <result column="anPy" property="anpy" jdbcType="VARCHAR" />
    <result column="bCode" property="bcode" jdbcType="VARCHAR" />
    <result column="dType" property="dtype" jdbcType="INTEGER" />
    <result column="dRef" property="dref" jdbcType="VARCHAR" />
    <result column="descn" property="descn" jdbcType="VARCHAR" />
    <result column="cTime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="lmTime" property="lmtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mId, pId, sort, isValidate, ddName, nPy, aliasName, anPy, bCode, dType, dRef, 
    descn, cTime, lmTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from plat_DictD_BAK
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from plat_DictD_BAK
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hj.wxmp.mobile.entity.DictDBAK" >
    insert into plat_DictD_BAK (id, mId, pId, 
      sort, isValidate, ddName, 
      nPy, aliasName, anPy, 
      bCode, dType, dRef, 
      descn, cTime, lmTime
      )
    values (#{id,jdbcType=VARCHAR}, #{mid,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{isvalidate,jdbcType=INTEGER}, #{ddname,jdbcType=VARCHAR}, 
      #{npy,jdbcType=VARCHAR}, #{aliasname,jdbcType=VARCHAR}, #{anpy,jdbcType=VARCHAR}, 
      #{bcode,jdbcType=VARCHAR}, #{dtype,jdbcType=INTEGER}, #{dref,jdbcType=VARCHAR}, 
      #{descn,jdbcType=VARCHAR}, #{ctime,jdbcType=TIMESTAMP}, #{lmtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hj.wxmp.mobile.entity.DictDBAK" >
    insert into plat_DictD_BAK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mid != null" >
        mId,
      </if>
      <if test="pid != null" >
        pId,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="isvalidate != null" >
        isValidate,
      </if>
      <if test="ddname != null" >
        ddName,
      </if>
      <if test="npy != null" >
        nPy,
      </if>
      <if test="aliasname != null" >
        aliasName,
      </if>
      <if test="anpy != null" >
        anPy,
      </if>
      <if test="bcode != null" >
        bCode,
      </if>
      <if test="dtype != null" >
        dType,
      </if>
      <if test="dref != null" >
        dRef,
      </if>
      <if test="descn != null" >
        descn,
      </if>
      <if test="ctime != null" >
        cTime,
      </if>
      <if test="lmtime != null" >
        lmTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isvalidate != null" >
        #{isvalidate,jdbcType=INTEGER},
      </if>
      <if test="ddname != null" >
        #{ddname,jdbcType=VARCHAR},
      </if>
      <if test="npy != null" >
        #{npy,jdbcType=VARCHAR},
      </if>
      <if test="aliasname != null" >
        #{aliasname,jdbcType=VARCHAR},
      </if>
      <if test="anpy != null" >
        #{anpy,jdbcType=VARCHAR},
      </if>
      <if test="bcode != null" >
        #{bcode,jdbcType=VARCHAR},
      </if>
      <if test="dtype != null" >
        #{dtype,jdbcType=INTEGER},
      </if>
      <if test="dref != null" >
        #{dref,jdbcType=VARCHAR},
      </if>
      <if test="descn != null" >
        #{descn,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="lmtime != null" >
        #{lmtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hj.wxmp.mobile.entity.DictDBAK" >
    update plat_DictD_BAK
    <set >
      <if test="mid != null" >
        mId = #{mid,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pId = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isvalidate != null" >
        isValidate = #{isvalidate,jdbcType=INTEGER},
      </if>
      <if test="ddname != null" >
        ddName = #{ddname,jdbcType=VARCHAR},
      </if>
      <if test="npy != null" >
        nPy = #{npy,jdbcType=VARCHAR},
      </if>
      <if test="aliasname != null" >
        aliasName = #{aliasname,jdbcType=VARCHAR},
      </if>
      <if test="anpy != null" >
        anPy = #{anpy,jdbcType=VARCHAR},
      </if>
      <if test="bcode != null" >
        bCode = #{bcode,jdbcType=VARCHAR},
      </if>
      <if test="dtype != null" >
        dType = #{dtype,jdbcType=INTEGER},
      </if>
      <if test="dref != null" >
        dRef = #{dref,jdbcType=VARCHAR},
      </if>
      <if test="descn != null" >
        descn = #{descn,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        cTime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="lmtime != null" >
        lmTime = #{lmtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hj.wxmp.mobile.entity.DictDBAK" >
    update plat_DictD_BAK
    set mId = #{mid,jdbcType=VARCHAR},
      pId = #{pid,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      isValidate = #{isvalidate,jdbcType=INTEGER},
      ddName = #{ddname,jdbcType=VARCHAR},
      nPy = #{npy,jdbcType=VARCHAR},
      aliasName = #{aliasname,jdbcType=VARCHAR},
      anPy = #{anpy,jdbcType=VARCHAR},
      bCode = #{bcode,jdbcType=VARCHAR},
      dType = #{dtype,jdbcType=INTEGER},
      dRef = #{dref,jdbcType=VARCHAR},
      descn = #{descn,jdbcType=VARCHAR},
      cTime = #{ctime,jdbcType=TIMESTAMP},
      lmTime = #{lmtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>