<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hj.wxmp.mobile.mapping.FollowRespMapper" >
  <resultMap id="BaseResultMap" type="com.hj.wxmp.mobile.entity.FollowResp" >
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="RESPTYPE" property="resptype" jdbcType="INTEGER" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="IMG" property="img" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="DES" property="des" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID,RESPTYPE,CONTENT,TITLE,IMG,URL,DES
  </sql>

   <!-- 获取查找wx菜单的查询列表 -->
  <select id="findAll" resultMap="BaseResultMap" parameterType="java.util.Map">
	select 
   		<include refid="Base_Column_List" />
   	FROM  
   		tbl_follow_resp
   	WHERE  1=1
   		<if test="id != null" >
	        <![CDATA[
	        	 AND ID >= #{id,jdbcType=INTEGER}
	        ]]>	
	    </if>
   		<if test="resptype != null" >
	        <![CDATA[
	        	 AND RESPTYPE = #{resptype,jdbcType=INTEGER}
	        ]]>	
	    </if>
	    <if test="title !=null and title !='' ">
		    <![CDATA[
		       AND TITLE LIKE CONCAT('%',#{title,jdbcType=VARCHAR},'%')
		    ]]>
	    </if>
  </select>
  
  <!-- 查找wx菜单总数量 -->
  <select id="getAllCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    SELECT 
   		COUNT(1)
   	FROM  
   		tbl_follow_resp
   	WHERE  1=1
   		<if test="id != null" >
	        <![CDATA[
	        	 AND ID = #{id,jdbcType=INTEGER}
	        ]]>	
	    </if>
   		<if test="resptype != null" >
	        <![CDATA[
	        	 AND RESPTYPE = #{resptype,jdbcType=INTEGER}
	        ]]>	
	    </if>
	    <if test="title !=null and title !='' ">
		    <![CDATA[
		       AND TITLE LIKE CONCAT('%',#{title,jdbcType=VARCHAR},'%')
		    ]]>
	    </if>
  </select>
   <!-- 插入 -->
   <insert id="insert" parameterType="com.hj.wxmp.mobile.entity.FollowResp" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO tbl_follow_resp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="resptype != null" >
        RESPTYPE,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="img != null" >
        IMG,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="des != null" >
        DES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="resptype != null" >
        #{resptype,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="des != null" >
        #{des,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
<!-- 更新 --> 
    <update id="update" parameterType="com.hj.wxmp.mobile.entity.FollowResp" >
    UPDATE tbl_follow_resp
    <set >
      <if test="id != null" >
        ID=#{id,jdbcType=INTEGER},
      </if>
      <if test="resptype != null" >
        RESPTYPE=#{resptype,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        CONTENT=#{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        TITLE=#{title,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        IMG=#{img,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL=#{url,jdbcType=VARCHAR},
      </if>
      <if test="des != null" >
        DES=#{des,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE ID=#{id,jdbcType=INTEGER}
  </update>
  
   <!-- 删除数据 -->
  <delete id="delete" parameterType="com.hj.wxmp.mobile.entity.FollowResp" >
    DELETE FROM tbl_follow_resp WHERE ID = #{id,jdbcType=VARCHAR}
  </delete>
</mapper>