<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hj.wxmp.mobile.mapping.KeywordRespExMapper" >
  <resultMap id="BaseResultMap" type="com.hj.wxmp.mobile.entity.KeywordRespEx" >
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="PARENT_ID" property="parent_id" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="IMG" property="img" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="DES" property="desc" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID,PARENT_ID,TITLE,IMG,URL,DES
  </sql>

   <!-- 获取查找查询列表 -->
  <select id="findAll" resultMap="BaseResultMap" parameterType="java.util.Map">
	select 
   		<include refid="Base_Column_List" />
   	FROM  
   		tbl_keyword_resp_ex
   	WHERE  1=1
   		<if test="id != null" >
	        <![CDATA[
	        	 AND ID = #{id,jdbcType=INTEGER}
	        ]]>	
	    </if>
   		<if test="parent_id != null" >
	        <![CDATA[
	        	 AND PARENT_ID = #{parent_id,jdbcType=INTEGER}
	        ]]>	
	    </if>
	    <if test="title !=null and title !='' ">
		    <![CDATA[
		       AND TITLE LIKE CONCAT('%',#{title,jdbcType=VARCHAR},'%')
		    ]]>
	    </if>
  </select>
  
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	select 
   		<include refid="Base_Column_List" />
   	FROM  
   		tbl_keyword_resp_ex
   	WHERE  1=1
   		<if test="id != null" >
	        <![CDATA[
	        	 AND ID = #{id,jdbcType=INTEGER}
	        ]]>	
	    </if>
   		<if test="parent_id != null" >
	        <![CDATA[
	        	 AND PARENT_ID = #{parent_id,jdbcType=INTEGER}
	        ]]>	
	    </if>
  </select>
  
  
  <!-- 查找总数量 -->
  <select id="getAllCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    SELECT 
   		COUNT(1)
   	FROM  
   		tbl_keyword_resp_ex
   	WHERE  1=1
   		<if test="id != null" >
	        <![CDATA[
	        	 AND ID = #{id,jdbcType=INTEGER}
	        ]]>	
	    </if>
	    <if test="parent_id != null" >
	        <![CDATA[
	        	 AND PARENT_ID = #{parent_id,jdbcType=INTEGER}
	        ]]>	
	    </if>
	    <if test="title !=null and title !='' ">
		    <![CDATA[
		       AND TITLE LIKE CONCAT('%',#{title,jdbcType=VARCHAR},'%')
		    ]]>
	    </if>
  </select>
   <!-- 插入 -->
   <insert id="insert" parameterType="com.hj.wxmp.mobile.entity.KeywordRespEx" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO tbl_keyword_resp_ex
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="parent_id != null" >
        PARENT_ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="img != null" >
        IMG,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="desc != null" >
        DES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parent_id != null" >
        #{parent_id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
<!-- 更新 --> 
    <update id="update" parameterType="com.hj.wxmp.mobile.entity.KeywordRespEx" >
    UPDATE tbl_keyword_resp_ex
    <set >
      <if test="id != null" >
        ID=#{id,jdbcType=INTEGER},
      </if>
      <if test="parent_id != null" >
        PARENT_ID=#{parent_id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        TITLE=#{title,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        IMG=#{img,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL=#{url,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        DES=#{desc,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE ID=#{id,jdbcType=INTEGER}
  </update>
  
   <!-- 删除数据 -->
  <delete id="delete" parameterType="com.hj.wxmp.mobile.entity.KeywordRespEx" >
    DELETE FROM tbl_keyword_resp_ex WHERE ID = #{id,jdbcType=VARCHAR}
  </delete>
</mapper>