<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hj.wxmp.mobile.mapping.ProjCustRefMapper" >
  <resultMap id="BaseResultMap" type="com.hj.wxmp.mobile.entity.ProjCustRef" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="projId" property="projid" jdbcType="VARCHAR" />
    <result column="custId" property="custid" jdbcType="VARCHAR" />
    <result column="firstKnowTime" property="firstknowtime" jdbcType="TIMESTAMP" />
    <result column="knowWay" property="knowway" jdbcType="VARCHAR" />
    <result column="attentionPoint" property="attentionpoint" jdbcType="VARCHAR" />
    <result column="compareProjs" property="compareprojs" jdbcType="VARCHAR" />
    <result column="resistPoint" property="resistpoint" jdbcType="VARCHAR" />
    <result column="isValidate" property="isvalidate" jdbcType="INTEGER" />
    <result column="cTime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hj.wxmp.mobile.entity.ProjCustRef" extends="BaseResultMap" >
    <result column="knowWayDesc" property="knowwaydesc" jdbcType="LONGVARCHAR" />
    <result column="attentionPointDesc" property="attentionpointdesc" jdbcType="LONGVARCHAR" />
    <result column="resistPointDesc" property="resistpointdesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, projId, custId, firstKnowTime, knowWay, attentionPoint, compareProjs, resistPoint, 
    isValidate, cTime
  </sql>
  <sql id="Blob_Column_List" >
    knowWayDesc, attentionPointDesc, resistPointDesc
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ql_ProjCust_Ref
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ql_ProjCust_Ref
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hj.wxmp.mobile.entity.ProjCustRef" >
    insert into ql_ProjCust_Ref (id, projId, custId, 
      firstKnowTime, knowWay, attentionPoint, 
      compareProjs, resistPoint, isValidate, 
      cTime, knowWayDesc, attentionPointDesc, 
      resistPointDesc)
    values (#{id,jdbcType=VARCHAR}, #{projid,jdbcType=VARCHAR}, #{custid,jdbcType=VARCHAR}, 
      #{firstknowtime,jdbcType=TIMESTAMP}, #{knowway,jdbcType=VARCHAR}, #{attentionpoint,jdbcType=VARCHAR}, 
      #{compareprojs,jdbcType=VARCHAR}, #{resistpoint,jdbcType=VARCHAR}, #{isvalidate,jdbcType=INTEGER}, 
      #{ctime,jdbcType=TIMESTAMP}, #{knowwaydesc,jdbcType=LONGVARCHAR}, #{attentionpointdesc,jdbcType=LONGVARCHAR}, 
      #{resistpointdesc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hj.wxmp.mobile.entity.ProjCustRef" >
    insert into ql_ProjCust_Ref
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projid != null" >
        projId,
      </if>
      <if test="custid != null" >
        custId,
      </if>
      <if test="firstknowtime != null" >
        firstKnowTime,
      </if>
      <if test="knowway != null" >
        knowWay,
      </if>
      <if test="attentionpoint != null" >
        attentionPoint,
      </if>
      <if test="compareprojs != null" >
        compareProjs,
      </if>
      <if test="resistpoint != null" >
        resistPoint,
      </if>
      <if test="isvalidate != null" >
        isValidate,
      </if>
      <if test="ctime != null" >
        cTime,
      </if>
      <if test="knowwaydesc != null" >
        knowWayDesc,
      </if>
      <if test="attentionpointdesc != null" >
        attentionPointDesc,
      </if>
      <if test="resistpointdesc != null" >
        resistPointDesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projid != null" >
        #{projid,jdbcType=VARCHAR},
      </if>
      <if test="custid != null" >
        #{custid,jdbcType=VARCHAR},
      </if>
      <if test="firstknowtime != null" >
        #{firstknowtime,jdbcType=TIMESTAMP},
      </if>
      <if test="knowway != null" >
        #{knowway,jdbcType=VARCHAR},
      </if>
      <if test="attentionpoint != null" >
        #{attentionpoint,jdbcType=VARCHAR},
      </if>
      <if test="compareprojs != null" >
        #{compareprojs,jdbcType=VARCHAR},
      </if>
      <if test="resistpoint != null" >
        #{resistpoint,jdbcType=VARCHAR},
      </if>
      <if test="isvalidate != null" >
        #{isvalidate,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="knowwaydesc != null" >
        #{knowwaydesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="attentionpointdesc != null" >
        #{attentionpointdesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="resistpointdesc != null" >
        #{resistpointdesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hj.wxmp.mobile.entity.ProjCustRef" >
    update ql_ProjCust_Ref
    <set >
      <if test="projid != null" >
        projId = #{projid,jdbcType=VARCHAR},
      </if>
      <if test="custid != null" >
        custId = #{custid,jdbcType=VARCHAR},
      </if>
      <if test="firstknowtime != null" >
        firstKnowTime = #{firstknowtime,jdbcType=TIMESTAMP},
      </if>
      <if test="knowway != null" >
        knowWay = #{knowway,jdbcType=VARCHAR},
      </if>
      <if test="attentionpoint != null" >
        attentionPoint = #{attentionpoint,jdbcType=VARCHAR},
      </if>
      <if test="compareprojs != null" >
        compareProjs = #{compareprojs,jdbcType=VARCHAR},
      </if>
      <if test="resistpoint != null" >
        resistPoint = #{resistpoint,jdbcType=VARCHAR},
      </if>
      <if test="isvalidate != null" >
        isValidate = #{isvalidate,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        cTime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="knowwaydesc != null" >
        knowWayDesc = #{knowwaydesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="attentionpointdesc != null" >
        attentionPointDesc = #{attentionpointdesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="resistpointdesc != null" >
        resistPointDesc = #{resistpointdesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hj.wxmp.mobile.entity.ProjCustRef" >
    update ql_ProjCust_Ref
    set projId = #{projid,jdbcType=VARCHAR},
      custId = #{custid,jdbcType=VARCHAR},
      firstKnowTime = #{firstknowtime,jdbcType=TIMESTAMP},
      knowWay = #{knowway,jdbcType=VARCHAR},
      attentionPoint = #{attentionpoint,jdbcType=VARCHAR},
      compareProjs = #{compareprojs,jdbcType=VARCHAR},
      resistPoint = #{resistpoint,jdbcType=VARCHAR},
      isValidate = #{isvalidate,jdbcType=INTEGER},
      cTime = #{ctime,jdbcType=TIMESTAMP},
      knowWayDesc = #{knowwaydesc,jdbcType=LONGVARCHAR},
      attentionPointDesc = #{attentionpointdesc,jdbcType=LONGVARCHAR},
      resistPointDesc = #{resistpointdesc,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hj.wxmp.mobile.entity.ProjCustRef" >
    update ql_ProjCust_Ref
    set projId = #{projid,jdbcType=VARCHAR},
      custId = #{custid,jdbcType=VARCHAR},
      firstKnowTime = #{firstknowtime,jdbcType=TIMESTAMP},
      knowWay = #{knowway,jdbcType=VARCHAR},
      attentionPoint = #{attentionpoint,jdbcType=VARCHAR},
      compareProjs = #{compareprojs,jdbcType=VARCHAR},
      resistPoint = #{resistpoint,jdbcType=VARCHAR},
      isValidate = #{isvalidate,jdbcType=INTEGER},
      cTime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  <!-- 根据用户Id查询用户信息和所属项目的信息 -->
  <select id="selectByUserId" resultType="java.util.Map" parameterType="java.lang.String">
	SELECT
		qlpr.*,qlp.projName
	FROM
		ql_ProjCust_Ref qlpr
	JOIN ql_Project qlp ON qlpr.projId = qlp.id
	WHERE
		qlpr.custId = #{userId}
  </select>
  
  <select id="selectByCusIdAndProjId" parameterType="java.util.Map" resultType="com.hj.wxmp.mobile.entity.ProjCustRef">
  	select * from ql_ProjCust_Ref where custId=#{cusId} and projId = #{projId}
  </select>
</mapper>