<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hj.wxmp.mobile.mapping.UserCustRefMapper" >
  <resultMap id="BaseResultMap" type="com.hj.wxmp.mobile.entity.UserCustRef" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="projId" property="projid" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="custId" property="custid" jdbcType="VARCHAR" />
    <result column="isValidate" property="isvalidate" jdbcType="INTEGER" />
    <result column="cTime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, projId, userId, custId, isValidate, cTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ql_UserCust_Ref
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ql_UserCust_Ref
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hj.wxmp.mobile.entity.UserCustRef" >
    insert into ql_UserCust_Ref (id, projId, userId, 
      custId, isValidate, cTime
      )
    values (#{id,jdbcType=VARCHAR}, #{projid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{custid,jdbcType=VARCHAR}, #{isvalidate,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hj.wxmp.mobile.entity.UserCustRef" >
    insert into ql_UserCust_Ref
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projid != null" >
        projId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="custid != null" >
        custId,
      </if>
      <if test="isvalidate != null" >
        isValidate,
      </if>
      <if test="ctime != null" >
        cTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projid != null" >
        #{projid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="custid != null" >
        #{custid,jdbcType=VARCHAR},
      </if>
      <if test="isvalidate != null" >
        #{isvalidate,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hj.wxmp.mobile.entity.UserCustRef" >
    update ql_UserCust_Ref
    <set >
      <if test="projid != null" >
        projId = #{projid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="custid != null" >
        custId = #{custid,jdbcType=VARCHAR},
      </if>
      <if test="isvalidate != null" >
        isValidate = #{isvalidate,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        cTime = #{ctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hj.wxmp.mobile.entity.UserCustRef" >
    update ql_UserCust_Ref
    set projId = #{projid,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      custId = #{custid,jdbcType=VARCHAR},
      isValidate = #{isvalidate,jdbcType=INTEGER},
      cTime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  <!-- 查看用户所对应的所有的客户信息 -->
  <select id="selectByUserId" parameterType="java.lang.String" resultType="java.util.Map">
	SELECT
		qc.*,qp.projName
	FROM
		ql_UserCust_Ref qur
	JOIN ql_Customer qc ON qur.custId = qc.id join ql_Project qp on qur.projId = qp.id
	WHERE
		qur.userId = #{userId}
  </select>
  
  
  <!-- 查看项目所对应用户的信息 -->
  <select id="selectByProjectId" resultType="java.util.Map" parameterType="java.lang.String">
	SELECT
		pu.*
	FROM
		ql_UserCust_Ref qur
	JOIN plat_User pu ON qur.userId = pu.id
	WHERE
		qur.projId = #{proId}
  </select>
  
  
  <!-- 查看项目所对应客户的信息 -->
  <select id="findByProjectId" resultType="java.util.Map" parameterType="java.lang.String">
	SELECT
			qc.*
		FROM
	ql_UserCust_Ref qur
	JOIN ql_Customer qc ON qur.custId = qc.id
	WHERE
		qur.projId = #{proId}
  </select>
  
  
  
  
  <!-- 根据条件查询用户客记信息 -->
  <select id="selectByUserMessge" resultType="java.util.Map" parameterType="java.util.Map">
	SELECT
		qur.*, qc.*, pu.realName,
		pu.isValidate,proj.projName,pu.isValidate
	FROM
		ql_UserCust_Ref qur
	JOIN ql_Customer qc ON qur.custId = qc.id
	JOIN plat_User pu ON qur.userId = pu.id
	join ql_Project proj on qur.projId = proj.id
	WHERE
		instr(qc.custName,#{name}) 
		or (proj.projName,#{name}) 
		or (qc.phoneNum.custName,#{name}) 
		or (pu.realName,#{name}) 
	limit #{page},#{pageSize}
  </select>
  
  
  <!-- 根据条件查询用户客记信息数量 -->
  <select id="selectByUserMessgeCount" resultType="java.lang.Integer" parameterType="java.util.Map">
	SELECT
		count(1)
	FROM
	ql_UserCust_Ref qur
	JOIN ql_Customer qc ON qur.custId = qc.id join plat_User pu on qur.userId = pu.id
	WHERE
		instr(qc.custName,#{name}) 
		or (proj.projName,#{name}) 
		or (qc.phoneNum.custName,#{name}) 
		or (pu.realName,#{name})  
  </select>
  
  
  <update id="updateByProjIdAndCustId" parameterType="java.util.Map">
  	update ql_UserCust_Ref set userId=#{userId} where projId=#{projId} and instr(#{custId},custId)
  </update>
  
</mapper>