<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hj.wxmp.mobile.mapping.UserCustRefMapper" >
  <resultMap id="BaseResultMap" type="com.hj.wxmp.mobile.entity.UserCustRef" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="projId" property="projid" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="custId" property="custid" jdbcType="VARCHAR" />
    <result column="isValidate" property="isvalidate" jdbcType="INTEGER" />
    <result column="cTime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, projId, userId, custId, isValidate, cTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ql_UserCust_Ref
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ql_UserCust_Ref
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hj.wxmp.mobile.entity.UserCustRef" >
    insert into ql_UserCust_Ref (id, projId, userId, 
      custId, isValidate, cTime
      )
    values (#{id,jdbcType=VARCHAR}, #{projid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{custid,jdbcType=VARCHAR}, #{isvalidate,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hj.wxmp.mobile.entity.UserCustRef" >
    insert into ql_UserCust_Ref
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projid != null" >
        projId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="custid != null" >
        custId,
      </if>
      <if test="isvalidate != null" >
        isValidate,
      </if>
      <if test="ctime != null" >
        cTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projid != null" >
        #{projid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="custid != null" >
        #{custid,jdbcType=VARCHAR},
      </if>
      <if test="isvalidate != null" >
        #{isvalidate,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hj.wxmp.mobile.entity.UserCustRef" >
    update ql_UserCust_Ref
    <set >
      <if test="projid != null" >
        projId = #{projid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="custid != null" >
        custId = #{custid,jdbcType=VARCHAR},
      </if>
      <if test="isvalidate != null" >
        isValidate = #{isvalidate,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        cTime = #{ctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hj.wxmp.mobile.entity.UserCustRef" >
    update ql_UserCust_Ref
    set projId = #{projid,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      custId = #{custid,jdbcType=VARCHAR},
      isValidate = #{isvalidate,jdbcType=INTEGER},
      cTime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  <!-- 查看用户所对应的所有的客户信息 -->
  <select id="selectByUserId" parameterType="java.lang.String" resultType="java.util.Map">
	SELECT
		qc.*,qp.projName
	FROM
		ql_UserCust_Ref qur
	JOIN ql_Customer qc ON qur.custId = qc.id join ql_Project qp on qur.projId = qp.id
	WHERE
		qur.userId = #{userId}
  </select>
  
  
  <!-- 查看项目所对应用户的信息 -->
  <select id="selectByProjectId" resultType="java.util.Map" parameterType="java.lang.String">
	SELECT
		pu.*
	FROM
		ql_UserCust_Ref qur
	JOIN plat_User pu ON qur.userId = pu.id
	WHERE
		qur.projId = #{proId}
  </select>
  
  
  <!-- 查看项目所对应客户的信息 -->
  <select id="findByProjectId" resultType="java.util.Map" parameterType="java.lang.String">
	SELECT
			qc.*
		FROM
	ql_UserCust_Ref qur
	JOIN ql_Customer qc ON qur.custId = qc.id
	WHERE
		qur.projId = #{proId}
  </select>
  
  
  
  
  <!-- 根据条件查询用户客记信息 -->
  <select id="selectByUserMessge" resultType="java.util.Map" parameterType="java.util.Map">
	SELECT
		qur.*, qc.*, pu.realName,
		pu.isValidate,proj.projName,pu.isValidate
	FROM
		ql_UserCust_Ref qur
	JOIN ql_Customer qc ON qur.custId = qc.id
	JOIN plat_User pu ON qur.userId = pu.id
	join ql_Project proj on qur.projId = proj.id
	WHERE 1=1 and 
	(instr(qc.custName,#{name})
	OR instr(proj.projName, #{name})
	OR instr(qc.phoneNum, #{name})
	OR instr(pu.realName, #{name}))
	<if test="isValidate != '' and isValidate != null">
		and pu.isValidate = 3
	</if>  
	limit #{page},#{pageSize}
  </select>
  
  
  <!-- 根据条件查询用户客记信息数量 -->
  <select id="selectByUserMessgeCount" resultType="java.lang.Integer" parameterType="java.util.Map">
	SELECT
		count(1)
	FROM
		ql_UserCust_Ref qur
	JOIN ql_Customer qc ON qur.custId = qc.id
	JOIN plat_User pu ON qur.userId = pu.id
	join ql_Project proj on qur.projId = proj.id
	WHERE 1=1 and 
	(instr(qc.custName,#{name})
	OR instr(proj.projName, #{name})
	OR instr(qc.phoneNum, #{name})
	OR instr(pu.realName, #{name}))
	<if test="isValidate != '' and isValidate != null">
		and pu.isValidate = 3
	</if>  
  </select>
  
  
  <update id="updateByProjIdAndCustId" parameterType="java.util.Map">
  	update ql_UserCust_Ref set userId=#{userId} where projId=#{projId} and instr(#{custId},custId)
  </update>
  
  
  
  <!-- 导出excel用户信息 -->
  <select id="downloadExcel" resultType="java.util.Map" parameterType="java.util.Map">
	select searchResult.*,
	1 c01,
	case when searchResult.fCount is null then 0 else searchResult.fCount end c02,
	case when searchResult.cCount is null then 0 else searchResult.cCount end c03,
	1+(case when searchResult.fCount is null then 0 
	else searchResult.fCount end)+(case when searchResult.cCount is null then 0 else searchResult.cCount end) total 
	from (
	select needData.* from 
	(
	  select main.*,r02Count.fCount, cCount  from 
	  (
	    select a.*, b.custId, b.projId,c.projName,u.realName,
	      r01.recepTime
	    FROM
	    ql_Customer a,
	    ql_UserCust_Ref b,
	    ql_Project c,
	    ql_AccessRecord01 r01,
	    plat_User u
	    where a.id=b.custId and b.projId=c.id and (r01.custId=b.custId and r01.projId=b.projId) and u.id = b.userId
			and (instr(a.custName,#{name})
			OR instr(c.projName, #{name})
			OR instr(a.phoneNum, #{name})
			OR instr(u.realName, #{name}))
			<if test="userType==2">
				<if test="projIds !='' and projIds !=null">
					and instr(#{projIds},c.id)
				</if> 
			</if> 
			<if test="userType==3">
				<if test="projIds !='' and projIds !=null">
					and instr(#{projIds},c.id)
				</if> 
			</if> 
			<if test="userType==4">
				<if test="userId !='' and userId !=null">
					and a.id in (SELECT custId FROM ql_AccessRecord01 WHERE authorId = #{userId}
					UNION SELECT custId FROM ql_AccessRecord02 where authorId = #{userId}
					UNION SELECT custId FROM ql_AccessRecord03 where authorId = #{userId})
				</if> 
			</if> 
			<if test="record01Begin != '' and record01Begin != null">
				and r01.recepTime > #{record01Begin}
			</if> 
			<if test="record01End != '' and record01End != null">
				and r01.recepTime &lt; #{record01End}
			</if> 
			<if test="knowway != '' and knowway != null">
				and INSTR(#{knowway},r01.knowWay)
			</if>  
			<if test="agegroup != '' and agegroup != null">
				and INSTR(#{agegroup},a.ageGroup)
			</if>  
			<if test="liveacreage != '' and liveacreage != null">
				and INSTR(#{liveacreage}, a.liveAcreage)
			</if>  
			<if test="pricesection != '' and pricesection != null">
				and INSTR(#{pricesection}, a.priceSection)
			</if>  
			<if test="custscore != '' and custscore != null">
				and INSTR(#{custscore}, a.custScore)
			</if>  
	  ) as main
	  LEFT JOIN (select custId, projId, count(*) fCount from ql_AccessRecord02 group by custId, projId) as r02Count
	  on main.custId=r02Count.custId and main.projId=r02Count.projId
	  LEFT JOIN (select custId, projId, count(*) cCount from ql_AccessRecord03 group by custId, projId) as r03Count
	  on main.custId=r03Count.custId and main.projId=r03Count.projId
	) as needData
	<if test="record02Begin != '' and record02Begin != null">
		<if test="record02End != '' and record02End != null">
			,(select distinct custId, projId from ql_AccessRecord02 where 1=1 
			and recepTime > #{record02Begin}
			and recepTime &lt; #{record02End}
			) r02flag
			where needData.projId=r02flag.projId and needData.custId=r02flag.custId 
		</if> 
	</if> 
	) as searchResult 
  </select>
  
  
  
  
  
  
  
  
  <!-- 综合查询统计 -->
  <select id="selectZongHe" resultType="java.util.Map" parameterType="java.util.Map">
	select searchResult.*,
	1 c01,
	case when searchResult.fCount is null then 0 else searchResult.fCount end c02,
	case when searchResult.cCount is null then 0 else searchResult.cCount end c03,
	1+(case when searchResult.fCount is null then 0 
	else searchResult.fCount end)+(case when searchResult.cCount is null then 0 else searchResult.cCount end) total 
	from (
	select needData.* from 
	(
	  select main.*,r02Count.fCount, cCount  from 
	  (
	    select a.*, b.custId, b.projId,c.projName,u.realName,
	      r01.recepTime
	    FROM
	    ql_Customer a,
	    ql_UserCust_Ref b,
	    ql_Project c,
	    ql_AccessRecord01 r01,
	    plat_User u
	    where a.id=b.custId and b.projId=c.id and (r01.custId=b.custId and r01.projId=b.projId) and u.id = b.userId
			and (instr(a.custName,#{name})
			OR instr(c.projName, #{name})
			OR instr(a.phoneNum, #{name})
			OR instr(u.realName, #{name}))
			<if test="userType==2">
				<if test="projIds !='' and projIds !=null">
					and instr(#{projIds},c.id)
				</if> 
			</if> 
			<if test="userType==3">
				<if test="projIds !='' and projIds !=null">
					and instr(#{projIds},c.id)
				</if> 
			</if> 
			<if test="userType==4">
				<if test="userId !='' and userId !=null">
					and a.id in (SELECT custId FROM ql_AccessRecord01 WHERE authorId = #{userId}
					UNION SELECT custId FROM ql_AccessRecord02 where authorId = #{userId}
					UNION SELECT custId FROM ql_AccessRecord03 where authorId = #{userId})
				</if> 
			</if> 
			<if test="record01Begin != '' and record01Begin != null">
				and r01.recepTime > #{record01Begin}
			</if> 
			<if test="record01End != '' and record01End != null">
				and r01.recepTime &lt; #{record01End}
			</if> 
			<if test="knowway != '' and knowway != null">
				and INSTR(#{knowway},r01.knowWay)
			</if>  
			<if test="agegroup != '' and agegroup != null">
				and INSTR(#{agegroup},a.ageGroup)
			</if>  
			<if test="liveacreage != '' and liveacreage != null">
				and INSTR(#{liveacreage}, a.liveAcreage)
			</if>  
			<if test="pricesection != '' and pricesection != null">
				and INSTR(#{pricesection}, a.priceSection)
			</if>  
			<if test="custscore != '' and custscore != null">
				and INSTR(#{custscore}, a.custScore)
			</if>  
	  ) as main
	  LEFT JOIN (select custId, projId, count(*) fCount from ql_AccessRecord02 group by custId, projId) as r02Count
	  on main.custId=r02Count.custId and main.projId=r02Count.projId
	  LEFT JOIN (select custId, projId, count(*) cCount from ql_AccessRecord03 group by custId, projId) as r03Count
	  on main.custId=r03Count.custId and main.projId=r03Count.projId
	) as needData
	<if test="record02Begin != '' and record02Begin != null">
		<if test="record02End != '' and record02End != null">
			,(select distinct custId, projId from ql_AccessRecord02 where 1=1 
			and recepTime > #{record02Begin}
			and recepTime &lt; #{record02End}
			) r02flag
			where needData.projId=r02flag.projId and needData.custId=r02flag.custId 
		</if> 
	</if> 
	) as searchResult 
	limit #{page},#{pageSize}
  </select>
  
  <!-- 综合查询统计 -->
  <select id="selectZongHeCount" resultType="java.lang.Integer" parameterType="java.util.Map">
	select count(1) 
	from (
	select needData.* from 
	(
	  select main.*,r02Count.fCount, cCount  from 
	  (
	    select a.*, b.custId, b.projId,c.projName,u.realName,
	      r01.recepTime
	    FROM
	    ql_Customer a,
	    ql_UserCust_Ref b,
	    ql_Project c,
	    ql_AccessRecord01 r01,
	    plat_User u
	    where a.id=b.custId and b.projId=c.id and (r01.custId=b.custId and r01.projId=b.projId) and u.id = b.userId
			and (instr(a.custName,#{name})
			OR instr(c.projName, #{name})
			OR instr(a.phoneNum, #{name})
			OR instr(u.realName, #{name}))
			<if test="userType==2">
				<if test="projIds !='' and projIds !=null">
					and instr(#{projIds},c.id)
				</if> 
			</if> 
			<if test="userType==3">
				<if test="projIds !='' and projIds !=null">
					and instr(#{projIds},c.id)
				</if> 
			</if> 
			<if test="userType==4">
				<if test="userId !='' and userId !=null">
					and a.id in (SELECT custId FROM ql_AccessRecord01 WHERE authorId = #{userId}
					UNION SELECT custId FROM ql_AccessRecord02 where authorId = #{userId}
					UNION SELECT custId FROM ql_AccessRecord03 where authorId = #{userId})
				</if> 
			</if> 
			<if test="record01Begin != '' and record01Begin != null">
				and r01.recepTime > #{record01Begin}
			</if> 
			<if test="record01End != '' and record01End != null">
				and r01.recepTime &lt; #{record01End}
			</if> 
			<if test="knowway != '' and knowway != null">
				and INSTR(#{knowway},r01.knowWay)
			</if>  
			<if test="agegroup != '' and agegroup != null">
				and INSTR(#{agegroup},a.ageGroup)
			</if>  
			<if test="liveacreage != '' and liveacreage != null">
				and INSTR(#{liveacreage}, a.liveAcreage)
			</if>  
			<if test="pricesection != '' and pricesection != null">
				and INSTR(#{pricesection}, a.priceSection)
			</if>  
			<if test="custscore != '' and custscore != null">
				and INSTR(#{custscore}, a.custScore)
			</if>  
	  ) as main
	  LEFT JOIN (select custId, projId, count(*) fCount from ql_AccessRecord02 group by custId, projId) as r02Count
	  on main.custId=r02Count.custId and main.projId=r02Count.projId
	  LEFT JOIN (select custId, projId, count(*) cCount from ql_AccessRecord03 group by custId, projId) as r03Count
	  on main.custId=r03Count.custId and main.projId=r03Count.projId
	) as needData
	<if test="record02Begin != '' and record02Begin != null">
		<if test="record02End != '' and record02End != null">
			,(select distinct custId, projId from ql_AccessRecord02 where 1=1 
			and recepTime > #{record02Begin}
			and recepTime &lt; #{record02End}
			) r02flag
			where needData.projId=r02flag.projId and needData.custId=r02flag.custId 
		</if> 
	</if> 
	) as searchResult 
  </select>
</mapper>