<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>客户数据中心-首访信息列表</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../css/index.css"/>
  <link rel="stylesheet" href="../css/main.css">
  <script src="../../static/js/jquery.min.js" type="text/javascript"></script>
  <script src="../js/CONSTANT.js" type="text/javascript"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/common.utils.js" type="text/javascript"></script>
</head>
<body>
<div id="oneData">

<div class="line"></div>
<div class="item_sflr row">
<div class="col-50-1 item-nr">姓名</div>
<div class="col-50-1 item-nr2" id="custName"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">电话</div>
<div class="col-40 item-nr2" id="custPhone"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">性别</div>
<div class="col-40 item-nr2" id="custSex"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">第一次获知时间</div>
<div class="col-40 item-nr2" id="firstKnowTime"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">到访时间</div>
<div class="col-40 item-nr2" id="curTime"> </div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">年龄段</div>
<div class="col-40 item-nr2" id='ageGroup'></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">居住区域</div>
<div class="col-40 item-nr2" id="localResidence"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">外埠居住</div>
<div class="col-40 item-nr2" id="outResidence"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">工作区域</div>
<div class="col-40 item-nr2" id="localWorkArea"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">外埠工作</div>
<div class="col-40 item-nr2" id="outWorkArea"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">家庭情况</div>
<div class="col-40 item-nr2" id="familyStatus"></div>
</div>

<div class="item_sflr row">
<div class="col-30 item-nr">出行方式</div>
<div class="col-70 item-nr2" id="trafficType"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">有无购房资格</div>
<div class="col-40 item-nr2" id="buyQualify"></div>
</div>

<div class="line"></div>
<div class="item_sflr row">
<div class="col-60 item-nr">从事行业</div>
<div class="col-40 item-nr2" id="workIndustry"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">企业性质</div>
<div class="col-40 item-nr2" id="enterpriseType"></div>
</div>

<div class="item_sflr row">
<div class="col-30 item-nr">认知本案渠道</div>
<div class="col-70 item-nr2" id="knowWay"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">预估身价</div>
<div class="col-40 item-nr2" id="estCustWorth"></div>
</div>

<div class="item_sflr row">
<div class="col-30 item-nr">重点投资</div>
<div class="col-70 item-nr2" id="investType"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">资金筹备期</div>
<div class="col-40 item-nr2" id="capitalPrepSection"></div>
</div>

<div class="line"></div>
<div class="item_sflr row">
<div class="col-40 item-nr">关注的产品类型</div>
<div class="col-60 item-nr2" id="realtyProductType"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">关注的面积区间</div>
<div class="col-40 item-nr2" id="attentAcreage"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">接受的总房款</div>
<div class="col-40 item-nr2" id="priceSection"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">购房目的</div>
<div class="col-40 item-nr2" id="buyPurpose"></div>
</div>

<div class="item_sflr row">
<div class="col-40 item-nr">对本案的关注点</div>
<div class="col-60 item-nr2" id="attentionPoint"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">本次参观接待时长</div>
<div class="col-40 item-nr2" id="recepTimeSection"></div>
</div>

<div class="item_sflr row">
<div class="col-60 item-nr">客户评级</div>
<div class="col-40 item-nr2" id="custScore"></div>
</div>

<div class="item_sflr row">
<div class="item-nr">您本次置业进行比选项目有</div>
<div class="item-nr3" id="compareProjs"></div>
</div>

<div class="item_sflr row">
<div class="item-nr">客户描述</div>
<div class="item-nr3"></div>
</div>

<div class="row row-link" id="operArea" style="display:none;">
<div class="col-50" style="margin-top:1.5rem;" data-toggle="modal" data-target="#auditMsgModal"><a href="#">审核不通过</a></div>
<div class="col-50" style="margin-top:1.5rem;" onClick="auditOk()"><a href="#">审核通过</a></div>
</div>

<div class="modal fade" id="auditMsgModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">审核-未通过</h4>
      </div>
      <div class="modal-body">
        <textarea id="auditMsg" rows="4" style="width:100%"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="auditNo()">确1定</button>
      </div>
    </div>
  </div>
</div>

</div>

<script src="./01.js"></script>

</body>
</html>