@charset "utf-8";
/*头部导航*/
.header {
    background-color: #ececec;
}
.header li {
    border-bottom: 2px solid transparent;
}
.header li.active {
    border-bottom: 2px solid #f86900;
}
.header li.active a {
    color: #f86900;
}
.header li a {
    font-size: 1rem;
    color: #8b8b88;
}
.header li s {
    height: 26px;
    border-right: 1px solid #d4d4d4;
    float: right;
    margin-top: 8px;
}

/*列表*/
.sculp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url("../../img/question/sculpture.png") no-repeat;
    background-size: contain;
    margin-top: 10px;
}
.currzz {
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    background-color: #e1e0de;
}
.currzz,
.container-fluid .pull-right {
    color: #f86900;
}
.container-fluid li {
    position: relative;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e1e0de;
}
.container-fluid li:nth-child(1) u,
.container-fluid li:nth-child(2) u,
.container-fluid li:nth-child(3) u {
    background: url("../../img/notice/zza.png") no-repeat 0px 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 23px;
}
.container-fluid li:nth-child(2) u {
    background: url("../../img/notice/zzb.png") no-repeat 0px 0px;
}
.container-fluid li:nth-child(3) u {
    background: url("../../img/notice/zzc.png") no-repeat 0px 0px;
}