<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hj.web.mapping.ArticleMapper">
	<resultMap id="BaseResultMap"
		type="com.hj.web.entity.Article">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="articleName" property="articleName"
			jdbcType="VARCHAR" />
		<result column="articleType" property="articleType"
			jdbcType="VARCHAR" />
		<result column="detail" property="detail" jdbcType="VARCHAR" />
		<result column="isPush" property="isPush" jdbcType="INTEGER" />
		<result column="source" property="source" jdbcType="VARCHAR" />
		<result column="userId" property="userId" jdbcType="VARCHAR" />
		<result column="picUrl" property="picUrl" jdbcType="VARCHAR" />
		<result column="isComment" property="isComment"
			jdbcType="INTEGER" />
		<result column="keyword" property="keyword" jdbcType="VARCHAR" />
		<result column="language" property="language"
			jdbcType="VARCHAR" />
		<result column="collectionNum" property="collectionNum"
			jdbcType="INTEGER" />
		<result column="discussNum" property="discussNum"
			jdbcType="INTEGER" />
		<result column="isValidate" property="isValidate"
			jdbcType="INTEGER" />
		<result column="userName" property="userName"
			jdbcType="VARCHAR" />
		<result column="partakeNum" property="partakeNum"
			jdbcType="INTEGER" />
		<result column="top" property="top" jdbcType="INTEGER" />
		<result column="views" property="views" jdbcType="INTEGER" />
		<result column="videoUrl" property="videoUrl"
			jdbcType="VARCHAR" />
		<result column="createTime" property="createTime"
			jdbcType="TIMESTAMP" />
		<result column="updateTime" property="updateTime"
			jdbcType="TIMESTAMP" />
		<result column="pushTime" property="pushTime"
			jdbcType="TIMESTAMP" />
		<result column="article" property="article"
			jdbcType="LONGVARCHAR" />
		<result column="relevancyId" property="relevancyId"
			jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, articleName, articleType, detail, isPush, source,
		userId, picUrl,
		isComment,
		keyword, language, collectionNum, discussNum,
		isValidate, userName,
		partakeNum, top,
		views, videoUrl, createTime,
		updateTime,article,relevancyId,sort,pushTime
	</sql>
	<select id="get" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from cms_article
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="del" parameterType="java.lang.String">
		delete from cms_article
		where id =
		#{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.hj.web.entity.Article">
		insert into cms_article
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="articleName != null">
				articleName,
			</if>
			<if test="articleType != null">
				articleType,
			</if>
			<if test="detail != null">
				detail,
			</if>
			<if test="isPush != null">
				isPush,
			</if>
			<if test="source != null">
				source,
			</if>
			<if test="userId != null">
				userId,
			</if>
			<if test="picUrl != null">
				picUrl,
			</if>
			<if test="isComment != null">
				isComment,
			</if>
			<if test="keyword != null">
				keyword,
			</if>
			<if test="language != null">
				language,
			</if>
			<if test="collectionNum != null">
				collectionNum,
			</if>
			<if test="discussNum != null">
				discussNum,
			</if>
			<if test="isValidate != null">
				isValidate,
			</if>
			<if test="userName != null">
				userName,
			</if>
			<if test="partakeNum != null">
				partakeNum,
			</if>
			<if test="top != null">
				top,
			</if>
			<if test="views != null">
				views,
			</if>
			<if test="videoUrl != null">
				videoUrl,
			</if>
			<if test="createTime != null">
				createTime,
			</if>
			<if test="updateTime != null">
				updateTime,
			</if>
			<if test="article != null">
				article,
			</if>
			<if test="relevancyId != null">
				relevancyId,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="pushTime != null">
				pushTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="articleName != null">
				#{articleName,jdbcType=VARCHAR},
			</if>
			<if test="articleType != null">
				#{articleType,jdbcType=VARCHAR},
			</if>
			<if test="detail != null">
				#{detail,jdbcType=VARCHAR},
			</if>
			<if test="isPush != null">
				#{isPush,jdbcType=INTEGER},
			</if>
			<if test="source != null">
				#{source,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="picUrl != null">
				#{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="isComment != null">
				#{isComment,jdbcType=INTEGER},
			</if>
			<if test="keyword != null">
				#{keyword,jdbcType=VARCHAR},
			</if>
			<if test="language != null">
				#{language,jdbcType=VARCHAR},
			</if>
			<if test="collectionNum != null">
				#{collectionNum,jdbcType=INTEGER},
			</if>
			<if test="discussNum != null">
				#{discussNum,jdbcType=INTEGER},
			</if>
			<if test="isValidate != null">
				#{isValidate,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="partakeNum != null">
				#{partakeNum,jdbcType=INTEGER},
			</if>
			<if test="top != null">
				#{top,jdbcType=INTEGER},
			</if>
			<if test="views != null">
				#{views,jdbcType=INTEGER},
			</if>
			<if test="videoUrl != null">
				#{videoUrl,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="article != null">
				#{article,jdbcType=LONGVARCHAR},
			</if>
			<if test="relevancyId != null">
				#{relevancyId,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="pushTime != null">
				#{pushTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.hj.web.entity.Article">
		update cms_article
		<set>
			<if test="articleName != null">
				articleName = #{articleName,jdbcType=VARCHAR},
			</if>
			<if test="articleType != null">
				articleType = #{articleType,jdbcType=VARCHAR},
			</if>
			<if test="detail != null">
				detail = #{detail,jdbcType=VARCHAR},
			</if>
			<if test="isPush != null">
				isPush = #{isPush,jdbcType=INTEGER},
			</if>
			<if test="source != null">
				source = #{source,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				userId = #{userId,jdbcType=VARCHAR},
			</if>
			<if
				test="picUrl != null and picUrl != '' and picUrl != 'clearImg' ">
				picUrl = #{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="picUrl == 'clearImg'">
				picUrl = '',
			</if>
			<if test="isComment != null">
				isComment = #{isComment,jdbcType=INTEGER},
			</if>
			<if test="keyword != null">
				keyword = #{keyword,jdbcType=VARCHAR},
			</if>
			<if test="language != null">
				language = #{language,jdbcType=VARCHAR},
			</if>
			<if test="collectionNum != null">
				collectionNum = #{collectionNum,jdbcType=INTEGER},
			</if>
			<if test="discussNum != null">
				discussNum = #{discussNum,jdbcType=INTEGER},
			</if>
			<if test="isValidate != null">
				isValidate = #{isValidate,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				userName = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="partakeNum != null">
				partakeNum = #{partakeNum,jdbcType=INTEGER},
			</if>
			<if test="top != null">
				top = #{top,jdbcType=INTEGER},
			</if>
			<if test="views != null">
				views = #{views,jdbcType=INTEGER},
			</if>
			<if test="videoUrl != null">
				videoUrl = #{videoUrl,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				createTime = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="article != null">
				article = #{article,jdbcType=LONGVARCHAR},
			</if>
			<if test="relevancyId != null">
				relevancyId = #{relevancyId,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=INTEGER},
			</if>
			<if test="pushTime != null">
				pushTime = #{pushTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<select id="getDataList" resultMap="BaseResultMap">
		SELECT
		a.*
		FROM
		cms_article a
		where
		instr(a.articleName,#{keyword}) and
		a.isValidate in
		(0,1,2,3)
		<if test="articleType != null and articleType != ''">
			and instr(a.articleType,#{articleType,jdbcType=VARCHAR})
		</if>
		<if test="language != null and language != ''">
			and language = #{language}
		</if>
		<if test="language == null and language == ''">
			a.relevancyId = '0'
		</if>
		order by a.sort desc,a.createTime desc
		limit #{page},#{pageSize}
	</select>

	<select id="getDataListCount" resultType="java.lang.Integer">
		SELECT
		count(1)
		FROM
		cms_article a
		where
		a.relevancyId = '0' and
		instr(a.articleName,#{keyword}) and
		a.isValidate in
		(0,1,2,3)
		<if test="articleType != null and articleType != ''">
			and instr(a.articleType,#{articleType,jdbcType=VARCHAR})
		</if>
	</select>

	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cms_article
		where
		isValidate in (0,1,2,3)
	</select>

	<select id="getDataListByRelevancyId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cms_article
		where relevancyId = #{id,jdbcType=VARCHAR}
		and
		isValidate in ('0','1','2','3')
	</select>

	<select id="getDataListByRelevancyIdAndMeId"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cms_article
		where (relevancyId = #{id,jdbcType=VARCHAR} or id =
		#{id})
		and
		isValidate in ('0','1','2','3')
	</select>

	<select id="getArticleParentDataList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cms_article
		where
		relevancyId = '0' and
		isValidate in (0,1,2,3)
		<if test="articleType != null and articleType != ''">
			and instr(articleType,#{articleType,jdbcType=VARCHAR})
		</if>
		<if test="id != null and id != ''">
			and id != #{id,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="getParentDataList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cms_article
		where
		relevancyId = #{id}
	</select>

	<select id="getArticlePicUrlList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cms_article
		where
		picUrl is not null
		and picUrl != ""
		and
		instr(#{channelIds},articleType)
		and
		language = #{language}
		order by sort
		desc
		limit
		#{number}
	</select>

	<update id="deletes">
		update cms_article set isValidate = 4 where
		instr(#{ids},id)
	</update>

	<select id="getDataListByChannelIdAndLanguage"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cms_article
		where isValidate in (0,1,2,3)
		<if test="channelId != null and channelId != ''">
			and instr(articleType, #{channelId,jdbcType=VARCHAR})
		</if>
		<if test="language != null and language != ''">
			and language = #{language,jdbcType=VARCHAR}
		</if>
		order by sort desc,createTime desc
		limit #{page},#{pageSize}
	</select>

	<select id="getDataListByChannelIdAndLanguageCount"
		resultType="java.lang.Integer">
		select
		count(1)
		from cms_article
		where isValidate in (0,1,2,3)
		<if test="channelId != null and channelId != ''">
			and instr(articleType, #{channelId,jdbcType=VARCHAR})
		</if>
		<if test="channelId != null and channelId != ''">
			and language = #{language,jdbcType=VARCHAR}
		</if>
		order by sort desc,createTime desc
	</select>

	<select id="getArticleAllList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cms_article
		where isValidate in (0,1,2,3)
		<if test="language != null and language != ''">
			and language = #{language,jdbcType=VARCHAR}
		</if>
		order by sort desc,createTime desc
		limit #{page},#{pageSize}
	</select>

	<select id="getArticleAllListCount"
		resultType="java.lang.Integer">
		select
		count(1)
		from cms_article
		where isValidate in (0,1,2,3)
		<if test="language != null and language != ''">
			and language = #{language,jdbcType=VARCHAR}
		</if>
		order by sort desc,createTime desc
	</select>

	<select id="getArticleAllByRoleId" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		cms_article
		WHERE
		isValidate IN (0, 1, 2, 3)
		AND picUrl != ''
		<if test="language != null and language != ''">
			and language = #{language,jdbcType=VARCHAR}
		</if>
		<if test="roleId != null and roleId != ''">
			AND userId = (SELECT userId from cms_userrole where roleId = #{roleId})
		</if>
		ORDER BY
		createTime DESC
		limit #{page},#{pageSize}
	</select>
</mapper>