<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hj.web.mapping.ChannelMapper">
	<resultMap id="BaseResultMap" type="com.hj.web.entity.Channel">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="channelName" property="channelname" jdbcType="VARCHAR" />
		<result column="areaName" property="areaname" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="descn" property="descn" jdbcType="VARCHAR" />
		<result column="roleId" property="roleId" jdbcType="VARCHAR" />
		<result column="languages" property="languages" jdbcType="VARCHAR" />
		<result column="picUrl" property="picUrl" jdbcType="VARCHAR" />
		<result column="isValidate" property="isvalidate" jdbcType="INTEGER" />
		<result column="cTime" property="ctime" jdbcType="TIMESTAMP" />
		<result column="channelType" property="channeltype" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, channelName, areaName, sort, descn,roleId,languages,
		isValidate,
		cTime,channelType,picUrl
	</sql>
	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from cms_channel
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="del" parameterType="java.lang.String">
		delete from
		cms_channel
		where id =
		#{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.hj.web.entity.Channel">
		insert into cms_channel
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="channelname != null">
				channelName,
			</if>
			<if test="areaname != null">
				areaName,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="descn != null">
				descn,
			</if>
			<if test="roleId != null">
				roleId,
			</if>
			<if test="languages != null">
				languages,
			</if>
			<if test="isvalidate != null">
				isValidate,
			</if>
			<if test="ctime != null">
				cTime,
			</if>
			<if test="channeltype != null">
				channelType,
			</if>
			<if test="picUrl != null">
				picUrl,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="channelname != null">
				#{channelname,jdbcType=VARCHAR},
			</if>
			<if test="areaname != null">
				#{areaname,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="descn != null">
				#{descn,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=VARCHAR},
			</if>
			<if test="languages != null">
				#{languages,jdbcType=VARCHAR},
			</if>
			<if test="isvalidate != null">
				#{isvalidate,jdbcType=INTEGER},
			</if>
			<if test="ctime != null">
				#{ctime,jdbcType=TIMESTAMP},
			</if>
			<if test="channeltype != null">
				#{channeltype,jdbcType=INTEGER},
			</if>
			<if test="picUrl != null">
				#{picUrl,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.hj.web.entity.Channel">
		update cms_channel
		<set>
			<if test="channelname != null">
				channelName = #{channelname,jdbcType=VARCHAR},
			</if>
			<if test="areaname != null">
				areaName = #{areaname,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=INTEGER},
			</if>
			<if test="descn != null">
				descn = #{descn,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				roleId = #{roleId,jdbcType=VARCHAR},
			</if>
			<if test="languages != null">
				languages = #{languages,jdbcType=VARCHAR},
			</if>
			<if test="isvalidate != null">
				isValidate = #{isvalidate,jdbcType=INTEGER},
			</if>
			<if test="ctime != null">
				cTime = #{ctime,jdbcType=TIMESTAMP},
			</if>
			<if test="channeltype != null">
				channelType = #{channeltype,jdbcType=INTEGER},
			</if>
			<if test="picUrl != null">
				picUrl = #{picUrl,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 查询所有的项目信息 -->
	<select id="getProjectMessge" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		SELECT
		a.*, b.role_name roleName
		FROM
		cms_channel a
		JOIN sys_role b ON
		a.roleId = b.id
		WHERE
		INSTR(a.channelName, #{channelname})
		and
		a.isValidate=1
		<if test="channeltype != null and channeltype != 0">
			and a.channelType = #{channeltype,jdbcType=INTEGER}
		</if>
		<if test="roleId != null and roleId != ''">
			and a.roleId = #{roleId}
		</if>
		LIMIT #{page},#{pageSize}
	</select>

	<!-- 总记录数 -->
	<select id="getProjectMessgeCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		SELECT
		count(1)
		FROM
		cms_channel a
		JOIN sys_role b ON
		a.roleId = b.id
		WHERE
		INSTR(a.channelName, #{channelname})
		and
		a.isValidate=1
		<if test="channeltype != null and channeltype != 0">
			and a.channelType = #{channeltype,jdbcType=INTEGER}
		</if>
		<if test="roleId != null and roleId != ''">
			and a.roleId = #{roleId}
		</if>
	</select>

	<update id="deletes">
		update cms_channel set isValidate = 0 where
		instr(#{boxeditId},id)
	</update>

	<select id="getAllData" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cms_channel
	</select>

	<select id="getDataByType" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cms_channel
		where 1=1
		<if test="channeltype != null and channeltype != 0">
			and channelType = #{channeltype}
		</if>
		<if test="roleId != null and roleId != ''">
			and roleId = #{roleId}
		</if>
	</select>

	<select id="getDataByRoleId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cms_channel
		where roleId = #{roleId}
	</select>

	<select id="selectDataByRoleId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cms_channel
		where roleId = #{roleId}
		limit #{number}
	</select>
</mapper>