<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hj.web.mapping.TblMenuMapper" >
  <resultMap id="BaseResultMap" type="com.hj.web.entity.TblMenu" >
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="LEVEL" property="level" jdbcType="INTEGER" />
    <result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
    <result column="SEQ" property="seq" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="INTEGER" />
    <result column="LINK" property="link" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID,LEVEL,PARENT_ID,SEQ,NAME,TYPE,LINK,CONTENT
  </sql>

   <!-- 获取查找wx菜单的查询列表 -->
  <select id="findAll" resultMap="BaseResultMap" parameterType="java.util.Map">
	select 
   		<include refid="Base_Column_List" />
   	FROM  
   		tbl_menu
   	WHERE  1=1
   		<if test="id != null" >
	        <![CDATA[
	        	 AND ID = #{id,jdbcType=INTEGER}
	        ]]>	
	    </if>
   		<if test="level != null" >
	        <![CDATA[
	        	 AND LEVEL = #{level,jdbcType=INTEGER}
	        ]]>	
	    </if>
   		<if test="parentId != null" >
	        <![CDATA[
	        	 AND PARENT_ID = #{parentId,jdbcType=INTEGER}
	        ]]>	
	    </if>
   		<if test="seq != null" >
	        <![CDATA[
	        	 AND SEQ = #{seq,jdbcType=INTEGER}
	        ]]>	
	    </if>
	    <if test="name !=null and name !='' ">
		    <![CDATA[
		       AND NAME like '%'||#{name,jdbcType=VARCHAR}||'%'
		    ]]>
	    </if>
        <if test="type !=null">
	        <![CDATA[
	          AND TYPE = #{TYPE,jdbcType=INTEGER}
	        ]]>
       	</if> 
    ORDER BY  SEQ,ID    	
  </select>
  
  <!-- 查找wx菜单总数量 -->
  <select id="getAllCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
    SELECT count(1)   
    	FROM   tbl_menu
    WHERE
    	1=1
  	    <if test="id != null" >
	        <![CDATA[
	        	 AND ID = #{id,jdbcType=INTEGER}
	        ]]>	
	    </if>
   		<if test="level != null" >
	        <![CDATA[
	        	 AND LEVEL = #{level,jdbcType=INTEGER}
	        ]]>	
	    </if>
   		<if test="parentId != null" >
	        <![CDATA[
	        	 AND PARENT_ID = #{parentId,jdbcType=INTEGER}
	        ]]>	
	    </if>
   		<if test="seq != null" >
	        <![CDATA[
	        	 AND SEQ = #{seq,jdbcType=INTEGER}
	        ]]>	
	    </if>
	    <if test="name !=null and name !='' ">
		    <![CDATA[
		       AND NAME like '%'||#{name,jdbcType=VARCHAR}||'%'
		    ]]>
	    </if>
        <if test="type !=null">
	        <![CDATA[
	          AND TYPE = #{TYPE,jdbcType=INTEGER}
	        ]]>
       	</if>
  </select>

<!-- 新增wx菜单 -->
   <insert id="insert" parameterType="com.hj.web.entity.TblMenu" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="level != null" >
        LEVEL,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="seq != null" >
        SEQ,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="link != null" >
        LINK,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
<!-- 修改wx菜单 --> 
    <update id="update" parameterType="com.hj.web.entity.TblMenu" >
    UPDATE tbl_menu
    <set >
      <if test="id != null" >
        ID=#{id,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        LEVEL=#{level,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        PARENT_ID=#{parentId,jdbcType=INTEGER},
      </if>
      <if test="seq != null" >
        SEQ=#{seq,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        NAME=#{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE=#{type,jdbcType=INTEGER},
      </if>
      <if test="link != null" >
        LINK=#{link,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT=#{content,jdbcType=VARCHAR},
      </if>
    </set>
    where ID=#{id,jdbcType=INTEGER}
  </update>
  
   <!-- 删除数据 -->
  <delete id="delete" parameterType="com.hj.web.entity.TblMenu" >
    DELETE FROM tbl_menu
    WHERE 1=1 
    <if test="id != null and id != 0" >
        <![CDATA[
        	 AND ID = #{id,jdbcType=INTEGER}
        ]]>	
    </if>
  	<if test="parentId != null and parentId !=0" >
        <![CDATA[
        	 AND PARENT_ID = #{parentId,jdbcType=INTEGER}
        ]]>	
    </if>
  </delete>
  
   <!-- 获取查找wx菜单的查询列表 -->
  <select id="getEntity" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	select 
   		<include refid="Base_Column_List" />
   	FROM  
   		tbl_menu
   	WHERE  ID = #{id,jdbcType=INTEGER}
  </select>
</mapper>