<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hj.web.mapping.UserInfoMapper">
	<resultMap id="BaseResultMap" type="com.hj.web.entity.UserInfo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="loginName" property="loginname" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="realName" property="realname" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="headimgurl" property="headimgurl" jdbcType="VARCHAR" />
		<result column="district" property="district" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="language" property="language" jdbcType="VARCHAR" />
		<result column="selfProjAuth" property="selfprojauth" jdbcType="VARCHAR" />
		<result column="cTime" property="ctime" jdbcType="TIMESTAMP" />
		<result column="isValidate" property="isvalidate" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="descn" property="descn" jdbcType="LONGVARCHAR" />
		<result column="parentId" property="parentId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, loginName, password, realName, age, sex, phone,
		headimgurl, district,
		address,
		language, selfProjAuth, cTime,
		isValidate, remark,descn,parentId
	</sql>
	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from plat_user
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="del" parameterType="java.lang.String">
		delete from plat_user
		where id =
		#{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.hj.web.entity.UserInfo">
		insert into plat_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="loginname != null">
				loginName,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="realname != null">
				realName,
			</if>
			<if test="age != null">
				age,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="headimgurl != null">
				headimgurl,
			</if>
			<if test="district != null">
				district,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="language != null">
				language,
			</if>
			<if test="selfprojauth != null">
				selfProjAuth,
			</if>
			<if test="ctime != null">
				cTime,
			</if>
			<if test="isvalidate != null">
				isValidate,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="descn != null">
				descn,
			</if>
			<if test="parentId != null">
				parentId,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="loginname != null">
				#{loginname,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="realname != null">
				#{realname,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				#{age,jdbcType=INTEGER},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="headimgurl != null">
				#{headimgurl,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				#{district,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="language != null">
				#{language,jdbcType=VARCHAR},
			</if>
			<if test="selfprojauth != null">
				#{selfprojauth,jdbcType=VARCHAR},
			</if>
			<if test="ctime != null">
				#{ctime,jdbcType=TIMESTAMP},
			</if>
			<if test="isvalidate != null">
				#{isvalidate,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="descn != null">
				#{descn,jdbcType=LONGVARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.hj.web.entity.UserInfo">
		update plat_user
		<set>
			<if test="loginname != null">
				loginName = #{loginname,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="realname != null">
				realName = #{realname,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				age = #{age,jdbcType=INTEGER},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="headimgurl != null and headimgurl != ''">
				headimgurl = #{headimgurl,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				district = #{district,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="language != null">
				language = #{language,jdbcType=VARCHAR},
			</if>
			<if test="selfprojauth != null">
				selfProjAuth = #{selfprojauth,jdbcType=VARCHAR},
			</if>
			<if test="ctime != null">
				cTime = #{ctime,jdbcType=TIMESTAMP},
			</if>
			<if test="isvalidate != null">
				isValidate = #{isvalidate,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="descn != null">
				descn = #{descn,jdbcType=LONGVARCHAR},
			</if>
			<if test="parentId != null">
				parentId = #{parentId,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 查找所有的用户信息 -->
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from plat_User
	</select>

	<!-- 按条件查找所有的用户分页 -->
	<select id="getDataList" resultMap="BaseResultMap"
		parameterType="map">
		SELECT
		a.*,
		c.role_name roleName
		FROM
		plat_user a
		JOIN cms_userrole b ON
		a.id = b.userId
		JOIN sys_role c ON b.roleId = c.id
		WHERE
		a.isValidate=1
		<if test="userName != null and userName != '' ">
			and instr(a.realName ,#{userName})
			or instr(a.phone
			,#{userName})
		</if>
		<if test="parentId != null and parentId != '' ">
			and a.parentId = #{parentId}
		</if>
		<if test="parentId == null or parentId == '' ">
			and a.parentId = '1'
		</if>
		<if test="roleId != null and roleId != '' ">
			and c.id = #{roleId}
		</if>
		limit #{page},#{pageSize}
	</select>

	<select id="getDataListCount" resultType="int" parameterType="map">
		SELECT
		count(1)
		FROM
		plat_user a
		JOIN cms_userrole b ON a.id = b.userId
		JOIN sys_role c ON b.roleId = c.id
		WHERE
		a.isValidate=1
		<if test="userName != null and userName != '' ">
			and instr(a.realName ,#{userName})
			or instr(a.phone
			,#{userName})
		</if>
		<if test="parentId != null and parentId != '' ">
			and a.parentId = #{parentId}
		</if>
		<if test="roleId != null and roleId != '' ">
			and c.id = #{roleId}
		</if>
	</select>

	<!-- 根据登入帐号查询信息 -->
	<select id="selectByLoginId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from plat_User
		where loginName = #{loginId,jdbcType=VARCHAR}
	</select>

	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from plat_User
	</select>

	<select id="getParentId" resultMap="BaseResultMap">
		SELECT
		a.*,
		c.role_name
		roleName
		FROM
		plat_user a
		JOIN cms_userrole b ON a.id = b.userId
		JOIN
		sys_role c ON b.roleId = c.id
		WHERE parentId = #{parentId} and
		a.isValidate=1
	</select>

	<update id="deletes" parameterType="java.lang.String">
		update plat_User
		set
		isValidate = 0
		where
		instr(#{boxeditId},id)
	</update>

</mapper>