.cover {
    /* background: transparent repeat scroll 0 0 #abc; */
    background: none repeat scroll 0 0 #abc;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.6;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.window {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 5px #888888;
    color: #6d6d6d;
    display: none;
    font-family: "Arial";
    font-size: 12px;
    margin: 20px auto 0;
    overflow: hidden;
    position: relative;
    width: 218px;
    height:110px;
    z-index: 1001;
}
.window_title {
    background: none repeat scroll 0 0 #149dd4;
    color: #fff;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    text-indent: 1em;
	margin:0;
}

.window_title a {
    background: url("../img/buttons.gif") no-repeat scroll -254px -51px rgba(0, 0, 0, 0);
    display: inline;
    float: right;
    height: 14px;
    margin: 8px 5px 0 0;
    width: 14px;
}

font, strong, b, em, i, u, h1, h2, h3, h4, h5, h6 {
    color: #4c4c4c;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
}
.window_con {
    margin-top: 10px;
    overflow: hidden;
}
.window_con p {
    color: #6d6d6d;
    margin-top: 10px;
    text-align: center;
}

.window_con p span {
    color: #2bd414;
}
.window_con p i {
    color: #d4141d;
}
.window_btn {
    
    overflow: hidden;
    padding: 10px;
    text-align: right;
}

.window_btn a.blue {
    border: 1px solid #149dd4;
    display: inline-block;
}
.window_btn a {
    margin-left: 10px;
}
.window_btn a.blue i {
    background: none repeat scroll 0 0 #149dd4;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 1px 14px;
}
.loading_div{
	display:none;
	background: none repeat scroll 0 0 #8cc;
    height: 50px;
    line-height: 50px;
    opacity: 1;
    position: relative;
    text-align: center;
    top: -318px;
    transform: scale(1, 1);
    transform-origin: 0 0 0;
    z-index: 1002;
    width:88%;
}
