@charset "utf-8";
/* CSS Document */
body {background:url(../image/login_line.gif) repeat-x #d6dee0; font-size:12px; font-family:Arial, Helvetica, sans-serif}
html,body,div,p,ul,li,dl,dt,dd,h1,h2,h3,form{margin:0;padding:0}
img{border:0 none; vertical-align: top}
li{list-style:none outside}
a{color:#07519a; text-decoration:none}
a:hover{text-decoration:underline; color:#F30; text-decoration:none}

.az-txt{border:1px solid #CCC; width:150px; height:25px; line-height:25px; float:left; padding:0 6px}
.az-txt:focus{border-color:#999}

.az-main{width:1150px; margin:0 auto}
.az-login{width:100%; height:508px; background:url(../image/login_bg.jpg) no-repeat}
h1{font-size:36px; color:#00419f; margin:0 auto; width:368px; padding-top:150px}
.az-login .case{width:420px; overflow:hidden; margin:0 auto; color:#666}
.az-login .tit{width:350px; text-indent:142px; height:25px; line-height:25px; font-weight:bold; color:#666; margin:62px 0 20px; font-size:14px}
.az-login .case dl{width:100%; overflow:hidden; margin-top:12px}
.az-login .case dt{height:25px; line-height:25px; float:left; width:140px; text-align:right}
.az-login .case dd{float:left}
.az-login table{margin:10px auto}
.vcode{width:60px}
#vcodeimg{cursor:pointer}
.errmsg{width:100%; text-align:center; height:45px; line-height:45px; color:#F00}

.copyright{line-height:25px; text-align:center; color:#666; padding:28px 0 10px}

label {
    font-size: 12px;
}


