body{background:white; color:#333; font:12px/1.4em Arial,Helvetica,sans-serif;}
.tb{border:1px #CCC solid; margin-top:6px; border-collapse:collapse}
.tb td, .tb th{border:1px #CCC solid; padding:5px; color:#555}
.tb th{background:url(../image/th_bg.gif) repeat-x bottom; height:25px; padding:0 5px 3px; text-align:left; vertical-align:bottom}
input{border:1px solid #ddd; border-radius:5px;  height:28px;}
.menu-url{width:400px;}
.menu-content{width:400px;}

.btn {
	min-width: 105px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    overflow: visible;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-family: Microsoft YaHei;
}
.btn_primary {
    background-color: #44b549;
    background-image: linear-gradient(to bottom, #44b549 0px, #44b549 100%);
    border-color: #44b549;
    color: #fff;
}
.btn_primary:hover {
    background-color: #2f9833;
    background-image: linear-gradient(to bottom, #2f9833 0px, #2f9833 100%);
    border-color: #2f9833;
    box-shadow: none;
    color: #fff;
}

.btn.btn_upload {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff 0px, #fff 100%);
    border-color: #e7e7eb;
    color: #222;
    height: 30px;
    line-height: 30px;
    padding-left: 22px;
    padding-right: 22px;
    width: auto;
}

.btn.btn_upload:hover {
    background-color: #e7e7eb;
    background-image: linear-gradient(to bottom, #e7e7eb 0px, #e7e7eb 100%);
    border-color: #dadbe0;
    box-shadow: none;
    color: #000;
}

.btn_default {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff 0px, #fff 100%);
    border-color: #e7e7eb;
    color: #222;
}

.btn_default:hover {
    background-color: #e7e7eb;
    background-image: linear-gradient(to bottom, #e7e7eb 0px, #e7e7eb 100%);
    border-color: #dadbe0;
    box-shadow: none;
    color: #000;
}

.btn_w60{
	min-width:60px;
}

.menu_setting_tips {
    color: #8d8d8d;
    margin-left: 5px;
}

.title_tips {
    color: #8d8d8d;
    font-size:13px;
}


.frm_input_box.counter_in {
    padding-right: 70px;
}
.frm_input_box.append {
    padding-right: 30px;
}
.frm_input_box {
    background-color: #fff;
    border: 1px solid #e7e7eb;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    position: relative;
    vertical-align: middle;
    width: 278px;
}

.frm_input_box {
    border-color: #e7e7eb;
    display: block;
    height: auto;
    min-height: 30px;
    width: auto;
}

.frm_input {
    height: 22px;
    margin: 4px 0;
}
.frm_input, .frm_textarea {
    background-color: transparent;
    border: 0 none;
    outline: 0 none;
    width: 100%;
}


.frm_input_box.counter_in .frm_counter {
    padding-right: 10px;
    right: 0;
    text-align: right;
}
.frm_input_box.with_counter .frm_counter {
    color: #8d8d8d;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 50px;
}
.frm_input_box.append .frm_input_append {
    position: absolute;
    right: 0.8em;
    top: 0;
}
.frm_input_box .frm_input_append {
    font-size: 0;
}

.pic_txt_table{
	width:100%;background-color: #f4f5f9; border: 1px solid #e7e7eb;min-height: 350px; padding: 20px;margin-top:20px;
}

.pic_txt_table tr{height:30px;}

.stream-browse-drag-files-area {
	float: right;
    border-radius: 3px;
    text-align: center;
    margin: auto !important;
    cursor: pointer;
    border: 1px solid #e7e7eb;
    width: 105px;
    background-image: linear-gradient(to bottom, #fff 0px, #fff 100%);
    border-color: #e7e7eb;
    color: #222;
    height: 30px;
    line-height: 30px;
    padding-top:0 !important;
    padding-bottom: 0 !important;
    padding-left: 22px;
    padding-right: 22px;
    background-color: #fff;
    font-size:14px;
}

.stream-browse-files.stream-browse-drag-files-area:hover {
    background-color: #e7e7eb;
    background-image: linear-gradient(to bottom, #e7e7eb 0px, #e7e7eb 100%);
    border-color: #dadbe0;
    box-shadow: none;
    color: #000;
}

table a{
	color:#abc;
}
table a:hover{
	color:#07519a;
	cursor:pointer;
	font-size:14px;
}
.wx-menu-content{
	width:100%;font-size: 14px;
	border-spacing: 0 !important;
}
.wx-menu-content tr{
	height:30px;
}
.wx-menu-icon-1{
	width:70px;
	border:0 !important;
	text-align:right !important;
}
.wx-menu-item-1{
	background-color:#fff;
}
.wx-menu-icon-div{
	display: none;
}
.wx-alert-modal-content{
	min-height: 80px;
	padding-top: 20px !important;
}
.wx-alert-modal-hd{
	padding: 5px !important;background:none repeat scroll 0 0 #149dd4;color: #fff;
}
.wx-alert-modal-content{
	min-height: 120px;
	padding-top: 20px !important;
}
.wx-modal-footer{
	padding-top: 10px;padding-bottom: 10px;background-color: #e7e7eb;
}
.action-table{
	width:100%;
	text-align:center;
}
.action-table td{
	border:0 !important;
}