<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">


	<display-name>wxmp.ql</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- session超时定义,单位为分钟 -->
	<session-config>
		<session-timeout>3000</session-timeout>
	</session-config>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		 <param-value>
			/WEB-INF/config/application-context.xml,
			/WEB-INF/config/shiro-context.xml,
			/WEB-INF/config/spring-quartz.xml
		</param-value><!--  
		<param-value>
			/WEB-INF/config/application-context.xml
		</param-value> -->
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
  <!-- 平台监听器，加载平台信息 -->
  <listener>
    <listener-class>com.spiritdata.framework.core.web.InitSysConfigListener</listener-class>
  </listener>

	<servlet>
		<servlet-name>wxmp-ql</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/config/wxmp-ql-servlet.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>wxmp-ql</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	 <!-- 解决HTTP PUT请求Spring无法获取请求参数的问题 -->
    <filter>
        <filter-name>HiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HiddenHttpMethodFilter</filter-name>
        <servlet-name>wxmp-ql</servlet-name>
    </filter-mapping>

	<!-- add by hj spring action -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- shiro -->
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<!-- weixin -->
	<filter>
    	<filter-name>WeixinFilter</filter-name>
    	<filter-class>com.hj.web.filter.WeixinFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>WeixinFilter</filter-name>
    	<url-pattern>*.az</url-pattern>
    </filter-mapping>
    <!-- 微信前端拦截 -->
	<filter>
    	<filter-name>QlWeixinMenuFilter</filter-name>
    	<filter-class>com.hj.web.filter.QlWeixinMenuFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>QlWeixinMenuFilter</filter-name>
    	<url-pattern>/wxpage/*</url-pattern>
    </filter-mapping>

</web-app>
